flows_HpProliant.json
[{"id":"1d796710.8a18b9","type":"tab","label":"Automatizare casa","disabled":false,"info":""},{"id":"1875369e.319149","type":"tab","label":"Watchdog","disabled":false,"info":""},{"id":"c91c9403.360448","type":"tab","label":"Mi devices","disabled":false,"info":""},{"id":"2f18f85d.098da8","type":"mqtt-broker","z":"","name":"Acasa-mosquitto","broker":"192.168.2.1","port":"1883","clientid":"red-node-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abfad651.3283e8","type":"ui_tab","z":"","name":"Automatizare","icon":"dashboard","disabled":false,"hidden":false},{"id":"9d6d2ca2.ab788","type":"ui_group","z":"","name":"Logitech sound","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"316dfaab.b98486","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"614dc8e8.388628","type":"ui_group","z":"","name":"Temperatura","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"ea1c28b.86cafd8","type":"ui_group","z":"","name":"Aer Conditionat","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"830f4ae2.c40498","type":"ui_group","z":"","name":"Senzori","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"ed8a5776.41b2e8","type":"pushbullet-config","z":"","name":"tinel API key"},{"id":"967f7799.cf7278","type":"rmdevice","z":"","folder":"/mnt/hddc/automation/newremote/SharedData","mac":"c8f742836741","host":"192.168.2.119"},{"id":"b81c449c.9497b8","type":"ui_group","z":"","name":"Umiditate","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"4563fb7.7276804","type":"ui_group","z":"","name":"Epson beemer","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"3c5cd02c.cf9ff","type":"ui_group","z":"","name":"Techno air conditioning","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"6e942e2e.2b4f1","type":"ui_group","z":"","name":"Status aer conditionat","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"cab276d8.d054e8","type":"influxdb","z":"","hostname":"192.168.2.2","port":"8086","protocol":"http","database":"statsdemo","name":"influxConnection","usetls":false,"tls":""},{"id":"327b8803.26c1c8","type":"ui_group","z":"","name":"Baie","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"6a35d4c.f8ec22c","type":"ui_group","z":"","name":"Centrala","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"eb63a1c9.3cd47","type":"ui_group","z":"","name":"Centrala Balcon","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"5ef0df21.37adc","type":"ui_group","z":"","name":"Hol","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"4fa96c7a.17beb4","type":"ui_group","z":"","name":"Dormitor mare","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"f908d57.555e328","type":"ui_tab","z":"","name":"Watchdog","icon":"dashboard","disabled":false,"hidden":false},{"id":"2e66deab.11bb82","type":"ui_group","z":"","name":"Tasmota bridge","tab":"f908d57.555e328","disp":true,"width":"6","collapse":false},{"id":"62f08d15.2d7cb4","type":"ui_group","z":"","name":"Restart","tab":"f908d57.555e328","disp":true,"width":"6","collapse":false},{"id":"4de8112f.d2a28","type":"ui_group","z":"","name":"Hol","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"a99720e.6e9b5e","type":"ui_group","z":"","name":"Temperatura","tab":"f908d57.555e328","disp":true,"width":"6","collapse":false},{"id":"b0949172.b4377","type":"telegram bot","z":"","botname":"tinelHomeAutomation_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"611b7259.77501c","type":"mqtt in","z":"1d796710.8a18b9","name":"humidityReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/humidityRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":140,"y":100,"wires":[["fbf92591.9899a8","691efb5a.943434","61cbe116.1413b"]]},{"id":"691efb5a.943434","type":"ui_chart","z":"1d796710.8a18b9","name":" Umiditate sufragerie chart","group":"b81c449c.9497b8","order":2,"width":0,"height":0,"label":"Umiditate sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":140,"wires":[[]]},{"id":"fbf92591.9899a8","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate sufragerie gauge","group":"b81c449c.9497b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate sufragerie","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":460,"y":100,"wires":[]},{"id":"fe549d36.61d79","type":"mqtt in","z":"1d796710.8a18b9","name":"temperatureReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/temperatureRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":200,"wires":[["2bb7ceb1.7e2362"]]},{"id":"b4777177.070c2","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura sufragerie gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura sufragerie","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"19","seg2":"27","x":810,"y":200,"wires":[]},{"id":"1a8b2907.9fd777","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura sufragerie chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":240,"wires":[[]]},{"id":"2bb7ceb1.7e2362","type":"function","z":"1d796710.8a18b9","name":"substract 12 from temperature","func":"var temperature = parseFloat(msg.payload);\ntemperature -= 12;\nmsg.payload = temperature.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["b4777177.070c2","1a8b2907.9fd777","2575828c.e3b07e"]]},{"id":"86a159fb.92d598","type":"ui_switch","z":"1d796710.8a18b9","name":"","label":"Aer conditionat sufragerie","tooltip":"","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":900,"wires":[["c965edb1.4912a","a88a9f31.38c44"]]},{"id":"e2bb6ea2.7a3ce","type":"mqtt in","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":900,"wires":[["4c5a1e8b.a47"]]},{"id":"4c5a1e8b.a47","type":"function","z":"1d796710.8a18b9","name":"convert string to bool","func":"if (msg.payload.localeCompare(\"true\") === 0)\n{\n    msg.payload = true;\n    return msg;\n} else\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":900,"wires":[["86a159fb.92d598"]]},{"id":"b12b6abb.1c38e8","type":"comment","z":"1d796710.8a18b9","name":"to do monitoring tinel","info":"https://dev.to/krusenas/fast--simple-location-tracking-with-node-red-and-owntracks-195o","x":110,"y":1620,"wires":[]},{"id":"7620286b.a9cf08","type":"mqtt in","z":"1d796710.8a18b9","name":"uptimeSenzorAerConditionat","topic":"homie/3c71bf36a9ca/T19TSRAWV01/sensorUptime","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":300,"wires":[["8a845ff8.0aa66"]]},{"id":"fac6faae.3fdf28","type":"ui_text","z":"1d796710.8a18b9","group":"3c5cd02c.cf9ff","order":2,"width":0,"height":0,"name":"senzorAerConditionatUptime","label":"Senzor aer conditionat uptime:","format":"{{msg.payload}} days","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"8a845ff8.0aa66","type":"function","z":"1d796710.8a18b9","name":"convert to hours","func":"var timp = parseFloat(msg.payload);\ntimp = timp / (3600 * 24);\nmsg.payload = timp.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["fac6faae.3fdf28"]]},{"id":"596ebfc3.18a93","type":"pushbullet","z":"1d796710.8a18b9","config":"ed8a5776.41b2e8","pushtype":"note","title":"Node-RED","chan":"","name":"","x":830,"y":400,"wires":[]},{"id":"4923fa9c.912484","type":"inject","z":"1d796710.8a18b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":400,"wires":[["596ebfc3.18a93"]]},{"id":"1d575024.50558","type":"comment","z":"1d796710.8a18b9","name":"push bullet schetch","info":"","x":110,"y":360,"wires":[]},{"id":"7bfe490a.f08c38","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-on-off","device":"967f7799.cf7278","action":"send","remote":"7","button":"29","fix":1,"RFSweep":"true","x":420,"y":500,"wires":[[]]},{"id":"190f7942.2ecdc7","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"8","button":"36","fix":1,"RFSweep":"true","x":280,"y":1160,"wires":[[]]},{"id":"8967f734.605638","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-volume-down","device":"967f7799.cf7278","action":"send","remote":"7","button":"33","fix":1,"RFSweep":"true","x":450,"y":540,"wires":[[]]},{"id":"a110df6d.8c453","type":"ui_button","z":"1d796710.8a18b9","name":"Volume down","group":"9d6d2ca2.ab788","order":3,"width":0,"height":0,"passthru":false,"label":"Volume down","tooltip":"","color":"","bgcolor":"","icon":"volume_down","payload":"","payloadType":"date","topic":"","x":120,"y":540,"wires":[["8967f734.605638"]]},{"id":"c16d433a.a2799","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-volume-up","device":"967f7799.cf7278","action":"send","remote":"7","button":"32","fix":1,"RFSweep":"true","x":440,"y":580,"wires":[[]]},{"id":"184ea2e6.14c49d","type":"ui_button","z":"1d796710.8a18b9","name":"Volume up","group":"9d6d2ca2.ab788","order":2,"width":0,"height":0,"passthru":false,"label":"Volume up","tooltip":"","color":"","bgcolor":"","icon":"volume_up","payload":"","payloadType":"date","topic":"","x":110,"y":580,"wires":[["c16d433a.a2799"]]},{"id":"379e126b.ba0d3e","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"9d6d2ca2.ab788","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":90,"y":500,"wires":[["7bfe490a.f08c38"]]},{"id":"695b6950.c46c48","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-level","device":"967f7799.cf7278","action":"send","remote":"7","button":"34","fix":1,"RFSweep":"true","x":420,"y":620,"wires":[[]]},{"id":"a32c7e6f.e59a5","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-effect","device":"967f7799.cf7278","action":"send","remote":"7","button":"35","fix":1,"RFSweep":"true","x":420,"y":660,"wires":[[]]},{"id":"dd9a50bd.af3c2","type":"ui_button","z":"1d796710.8a18b9","name":"Level","group":"9d6d2ca2.ab788","order":4,"width":0,"height":0,"passthru":false,"label":"Level","tooltip":"","color":"","bgcolor":"","icon":"speaker","payload":"","payloadType":"date","topic":"","x":90,"y":620,"wires":[["695b6950.c46c48"]]},{"id":"948ca813.5ff2a8","type":"ui_button","z":"1d796710.8a18b9","name":"Effect","group":"9d6d2ca2.ab788","order":5,"width":0,"height":0,"passthru":false,"label":"Effect","tooltip":"","color":"","bgcolor":"","icon":"merge_type","payload":"","payloadType":"date","topic":"","x":90,"y":660,"wires":[["a32c7e6f.e59a5"]]},{"id":"e1ab1073.686b6","type":"comment","z":"1d796710.8a18b9","name":"Logitech audio sistem","info":"","x":120,"y":440,"wires":[]},{"id":"c9022801.a06778","type":"comment","z":"1d796710.8a18b9","name":"Epson beemer","info":"","x":100,"y":1080,"wires":[]},{"id":"a7cb410e.4acdd","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"4563fb7.7276804","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":70,"y":1160,"wires":[["190f7942.2ecdc7"]]},{"id":"9755ecf2.1b853","type":"comment","z":"1d796710.8a18b9","name":"AC Techno","info":"","x":80,"y":800,"wires":[]},{"id":"c965edb1.4912a","type":"switch","z":"1d796710.8a18b9","name":"if payload is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":880,"wires":[["d0d79749.94b7f8","5263d9ad.da2188","908e72fa.819a","632791e6.1ee09"]]},{"id":"a88a9f31.38c44","type":"switch","z":"1d796710.8a18b9","name":"if payload is false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":920,"wires":[["fdf66af4.655008","8294a9dd.a845c8","fe884cc9.3001e"]]},{"id":"c3ed890c.6ac6a8","type":"mqtt out","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1690,"y":1060,"wires":[]},{"id":"d0d79749.94b7f8","type":"mqtt out","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1610,"y":880,"wires":[]},{"id":"b6fc9f85.cd179","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-techno-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":1560,"y":740,"wires":[["c58e3d09.b1878"]]},{"id":"fdf66af4.655008","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-techno-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":1460,"y":1000,"wires":[["fd5f02f8.ec0ee"]]},{"id":"fa6a85a1.f7fd78","type":"ui_text","z":"1d796710.8a18b9","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"name":"","label":"Status aer conditionat","format":"{{msg.payload}}","layout":"row-spread","x":2000,"y":900,"wires":[]},{"id":"5263d9ad.da2188","type":"function","z":"1d796710.8a18b9","name":"aer conditionat in curs de pornire","func":"msg.payload=\"AC in curs de pornire! Comanda rf in 10s.\";\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":840,"wires":[["fa6a85a1.f7fd78"]]},{"id":"c58e3d09.b1878","type":"function","z":"1d796710.8a18b9","name":"aer conditionat pornit","func":"msg.payload=\"AC pornit!\";\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":740,"wires":[["fa6a85a1.f7fd78"]]},{"id":"fd5f02f8.ec0ee","type":"function","z":"1d796710.8a18b9","name":"aer conditionat in curs de oprire","func":"msg.payload=\"AC in curs de oprire! Tensiune oprita in 1m.\";\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1000,"wires":[["fa6a85a1.f7fd78"]]},{"id":"1b89113d.ee7aef","type":"function","z":"1d796710.8a18b9","name":"aer conditionat oprit","func":"msg.payload=\"AC oprit!\";\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1120,"wires":[["fa6a85a1.f7fd78"]]},{"id":"908e72fa.819a","type":"stoptimer","z":"1d796710.8a18b9","duration":"10","units":"Second","payloadtype":"bool","payloadval":"false","name":"","x":1310,"y":740,"wires":[["b6fc9f85.cd179"],[]]},{"id":"8294a9dd.a845c8","type":"stoptimer","z":"1d796710.8a18b9","duration":"1","units":"Minute","payloadtype":"bool","payloadval":"false","name":"","x":1460,"y":1180,"wires":[["c3ed890c.6ac6a8","1b89113d.ee7aef"],[]]},{"id":"712d5b36.d8e994","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-mute","device":"967f7799.cf7278","action":"send","remote":"7","button":"31","fix":1,"RFSweep":"true","x":420,"y":700,"wires":[[]]},{"id":"646e660e.f30568","type":"ui_button","z":"1d796710.8a18b9","name":"Mute","group":"9d6d2ca2.ab788","order":5,"width":0,"height":0,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"volume_off","payload":"","payloadType":"date","topic":"","x":90,"y":700,"wires":[["712d5b36.d8e994"]]},{"id":"632791e6.1ee09","type":"function","z":"1d796710.8a18b9","name":"opreste timer","func":"msg.payload=\"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[["8294a9dd.a845c8"]]},{"id":"fe884cc9.3001e","type":"function","z":"1d796710.8a18b9","name":"opreste timer","func":"msg.payload=\"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1080,"wires":[["908e72fa.819a"]]},{"id":"82190a91.248b78","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":90,"y":980,"wires":[["eee14783.de8ee8"]]},{"id":"eee14783.de8ee8","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-techno-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":340,"y":980,"wires":[[]]},{"id":"2575828c.e3b07e","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"temperaturaSufragerie","measurement":"temperatureLivingRoom","precision":"","retentionPolicy":"","x":780,"y":160,"wires":[]},{"id":"61cbe116.1413b","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"umiditateSufragerie","measurement":"humidityLivingRoom","precision":"","retentionPolicy":"","x":430,"y":40,"wires":[]},{"id":"d364801c.6b80c","type":"comment","z":"1d796710.8a18b9","name":"RF bridge sonoffRFBrg1","info":"","x":130,"y":1240,"wires":[]},{"id":"ccf15ea8.dc6d8","type":"json","z":"1d796710.8a18b9","name":"Data","property":"payload","action":"","pretty":false,"x":450,"y":1640,"wires":[["3bcfe5b3.edabea","44b626b3.99e178","5d25eeaa.7f0d8","f0f6867e.2c4be8","95ca1607.263398","74102544.ae603c","81dd0042.6dffd","b438b308.d8757","4cae06d8.228068","1679c77e.e4b8b9","72fa7989.e45638","931d801c.d0185","57ed7bfd.69da44","e528b6fd.c2e028","415e7b39.747454","a6492d5b.a9c02"]]},{"id":"1679c77e.e4b8b9","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F45C0E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F45C0E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":2360,"wires":[["964457cd.00c6c8","b17f7cf2.0b2b2"]]},{"id":"72fa7989.e45638","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F4576E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F4576E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2420,"wires":[["76ce4913.40a498","f327eb1.665b818"]]},{"id":"964457cd.00c6c8","type":"trigger","z":"1d796710.8a18b9","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1150,"y":2360,"wires":[["f24f0a5c.59fae8"]]},{"id":"f24f0a5c.59fae8","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":1,"width":0,"height":0,"name":"","label":"Senzor miscare 1","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":2360,"wires":[]},{"id":"76ce4913.40a498","type":"trigger","z":"1d796710.8a18b9","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1150,"y":2440,"wires":[["88225166.9fdca"]]},{"id":"88225166.9fdca","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":2,"width":0,"height":0,"name":"","label":"Senzor miscare 2","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":2440,"wires":[]},{"id":"3bcfe5b3.edabea","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F08","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F08","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1600,"wires":[["7d3419da.b2fed8","96d67127.bf4b1"]]},{"id":"7d3419da.b2fed8","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1600,"wires":[["60ed7a4c.cc5d04"]]},{"id":"60ed7a4c.cc5d04","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":5,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 1","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1600,"wires":[]},{"id":"44b626b3.99e178","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F0C","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F0C","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1660,"wires":[["2a80d41e.8cb4dc","2dd44526.7d261a"]]},{"id":"2a80d41e.8cb4dc","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1660,"wires":[["a2112198.adb72"]]},{"id":"a2112198.adb72","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":6,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 2","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1660,"wires":[]},{"id":"5d25eeaa.7f0d8","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F04","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F04","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1720,"wires":[["262661a2.8c25de"]]},{"id":"262661a2.8c25de","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1720,"wires":[["e9de2125.d1492"]]},{"id":"e9de2125.d1492","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":7,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 3","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1720,"wires":[]},{"id":"f0f6867e.2c4be8","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F09","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F09","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1780,"wires":[["b2133556.c52a08"]]},{"id":"b2133556.c52a08","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1780,"wires":[["248496cd.9d84da"]]},{"id":"248496cd.9d84da","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":8,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 4","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1780,"wires":[]},{"id":"95ca1607.263398","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F02","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F02","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1840,"wires":[["cbe372f5.8f72"]]},{"id":"cbe372f5.8f72","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1840,"wires":[["1de20488.78bc9b"]]},{"id":"1de20488.78bc9b","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":9,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 5","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1840,"wires":[]},{"id":"74102544.ae603c","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F05","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F05","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1900,"wires":[["e8baef02.a9395"]]},{"id":"e8baef02.a9395","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1900,"wires":[["499051ab.2c1ab"]]},{"id":"499051ab.2c1ab","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":10,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 6","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1900,"wires":[]},{"id":"81dd0042.6dffd","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F01","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F01","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1960,"wires":[["62c91555.a5785c"]]},{"id":"62c91555.a5785c","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1960,"wires":[["52b7e963.f463d8"]]},{"id":"52b7e963.f463d8","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":11,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 7","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1960,"wires":[]},{"id":"b438b308.d8757","type":"switch","z":"1d796710.8a18b9","name":"Telecomanda sufragerie 065F03","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F03","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2020,"wires":[["49225c5.35875a4"]]},{"id":"49225c5.35875a4","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":2020,"wires":[["560637ce.03ec68"]]},{"id":"560637ce.03ec68","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":12,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 8","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":2020,"wires":[]},{"id":"96d67127.bf4b1","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-techno-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":1540,"y":1600,"wires":[[]]},{"id":"2dd44526.7d261a","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"8","button":"36","fix":1,"RFSweep":"true","x":1540,"y":1660,"wires":[[]]},{"id":"35bd91fc.34ba6e","type":"comment","z":"1d796710.8a18b9","name":"Telecomanda sufragerie","info":"","x":760,"y":1560,"wires":[]},{"id":"1e25fa4a.8ddb66","type":"comment","z":"1d796710.8a18b9","name":"Motion sensors bucatarie","info":"","x":760,"y":2300,"wires":[]},{"id":"ca914da5.24323","type":"comment","z":"1d796710.8a18b9","name":"Intrerupator hol","info":"","x":740,"y":2080,"wires":[]},{"id":"57ed7bfd.69da44","type":"switch","z":"1d796710.8a18b9","name":"Intrerupator hol 125181","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"B23084","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":2120,"wires":[["95616d0.f3cdd9","5646134d.3c3c5c","bc00907c.f2c5c"]]},{"id":"95616d0.f3cdd9","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":2080,"wires":[["92aae998.90acf8"]]},{"id":"92aae998.90acf8","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":2,"width":0,"height":0,"name":"","label":"Intrerupator hol - buton 1","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":2080,"wires":[]},{"id":"e528b6fd.c2e028","type":"switch","z":"1d796710.8a18b9","name":"Intrerupator hol125182","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"125182","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":2180,"wires":[["2af1babb.bcca86","5646134d.3c3c5c","bc00907c.f2c5c"]]},{"id":"2af1babb.bcca86","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":2180,"wires":[["b7ddeef0.512cb"]]},{"id":"b7ddeef0.512cb","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":2,"width":0,"height":0,"name":"","label":"Intrerupator hol - buton 2","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":2180,"wires":[]},{"id":"931d801c.d0185","type":"switch","z":"1d796710.8a18b9","name":"Intrerupator hol 125184","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"125184","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":2240,"wires":[["bd32f934.27d838","12c999ea.0072a6"]]},{"id":"bd32f934.27d838","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":2240,"wires":[["e21e6b98.7feca8"]]},{"id":"e21e6b98.7feca8","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":2,"width":0,"height":0,"name":"","label":"Intrerupator hol - buton 3","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":2240,"wires":[]},{"id":"dbf15218.1df19","type":"mqtt in","z":"1d796710.8a18b9","name":"humidityReadBalconCentrala","topic":"homie/ecfabcaefa68/T19TSRAWV01/humidityRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":3480,"wires":[["b041e301.c9bc6","eb0c5671.4b0c18","63847ef1.abc3c"]]},{"id":"eb0c5671.4b0c18","type":"ui_chart","z":"1d796710.8a18b9","name":" Umiditate Balcon Centrala chart","group":"b81c449c.9497b8","order":2,"width":0,"height":0,"label":"Umiditate Balcon Centrala","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":3520,"wires":[[]]},{"id":"b041e301.c9bc6","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate Balcon Centrala gauge","group":"b81c449c.9497b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate Balcon Centrala","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":480,"y":3480,"wires":[]},{"id":"c8eaa927.857908","type":"mqtt in","z":"1d796710.8a18b9","name":"temperatureReadBalconCentrala","topic":"homie/ecfabcaefa68/T19TSRAWV01/temperatureRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":3580,"wires":[["e3d7608f.68e7c","83d53df7.78c22","c5b5f71d.4ed6e8"]]},{"id":"83d53df7.78c22","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura Balcon Centrala gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura Balcon Centrala","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"19","seg2":"27","x":600,"y":3600,"wires":[]},{"id":"c5b5f71d.4ed6e8","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura sufragerie chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura Balcon Centrala","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":3640,"wires":[[]]},{"id":"54600b57.b32634","type":"mqtt in","z":"1d796710.8a18b9","name":"uptimeSenzorBalconCentrala","topic":"homie/ecfabcaefa68/T19TSRAWV01/sensorUptime","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":3680,"wires":[["f8d4b7e0.29efb8"]]},{"id":"5ca5dafa.eb32e4","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":7,"width":0,"height":0,"name":"senzorBalconCentralaUptime","label":"Senzor Balcon Centrala uptime:","format":"{{msg.payload}} days","layout":"row-spread","x":800,"y":3680,"wires":[]},{"id":"f8d4b7e0.29efb8","type":"function","z":"1d796710.8a18b9","name":"convert to hours","func":"var timp = parseFloat(msg.payload);\ntimp = timp / (3600 * 24);\nmsg.payload = timp.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3680,"wires":[["5ca5dafa.eb32e4"]]},{"id":"e3d7608f.68e7c","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"temperaturaBalconCentrala","measurement":"temperatureBalconCentrala","precision":"","retentionPolicy":"","x":570,"y":3560,"wires":[]},{"id":"63847ef1.abc3c","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"umiditateBalconCentrala","measurement":"humidityBalconCentralaRoom","precision":"","retentionPolicy":"","x":460,"y":3420,"wires":[]},{"id":"97defa51.f41358","type":"mqtt in","z":"1d796710.8a18b9","name":"Status balcon centrala","topic":"homie/ecfabcaefa68/T19TSRAWV01/on","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":140,"y":3740,"wires":[["6234fb41.331124"]]},{"id":"359f4181.b4d5ae","type":"ui_switch","z":"1d796710.8a18b9","name":"","label":"Centrala pornita","tooltip":"","group":"eb63a1c9.3cd47","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":760,"y":3740,"wires":[["ab16080e.6fa468"]]},{"id":"ab16080e.6fa468","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda balcon centrala","topic":"homie/ecfabcaefa68/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":990,"y":3740,"wires":[]},{"id":"5b3e1808.b52c18","type":"comment","z":"1d796710.8a18b9","name":"Control Centrala","info":"","x":120,"y":3320,"wires":[]},{"id":"6234fb41.331124","type":"function","z":"1d796710.8a18b9","name":"convert string to bool","func":"if (msg.payload.localeCompare(\"1\") === 0)\n{\n    msg.payload = true;\n    return msg;\n} else\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":3740,"wires":[["359f4181.b4d5ae","b95b953.510a568"]]},{"id":"b323bb52.120658","type":"ui_numeric","z":"1d796710.8a18b9","name":"Temperatura Casa","label":"Temperatura Casa","tooltip":"","group":"eb63a1c9.3cd47","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"19","max":"28","step":"0.1","x":510,"y":3880,"wires":[["5c8424fe.52dd0c"]]},{"id":"984adea5.84421","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":3,"width":0,"height":0,"name":"Comanda centrala","label":"Comanda centrala","format":"{{msg.payload}}","layout":"row-spread","x":1850,"y":3900,"wires":[]},{"id":"b95b953.510a568","type":"function","z":"1d796710.8a18b9","name":"control temperatura casa - proceseaza stareCentrala","func":"if (msg.payload === true)\n{\n    msg.payload = {stareCentrala: true};\n    global.set('stareCentrala',true);\n    return msg;\n} else\n{\n    msg.payload = {stareCentrala: false};\n    global.set('stareCentrala',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":820,"y":3800,"wires":[["29b755f3.0eb0aa"]]},{"id":"5c8424fe.52dd0c","type":"function","z":"1d796710.8a18b9","name":"control temperatura casa - seteaza temperatura","func":"\nglobal.set('targetTemperatura',msg.payload);\nmsg.payload = {targetTemperatura: msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":3880,"wires":[["29b755f3.0eb0aa"]]},{"id":"d323d0f5.d4e69","type":"function","z":"1d796710.8a18b9","name":"control temperatura casa - citeste temperatura","func":"msg.payload = {valoareTemperatura: msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":3840,"wires":[["29b755f3.0eb0aa"]]},{"id":"29b755f3.0eb0aa","type":"function","z":"1d796710.8a18b9","name":"control temperatura casa ","func":"targetTemperatura = global.get('targetTemperatura') || 20; \nstareCentrala = global.get('stareCentrala') || false; \nvaloareTemperatura = global.get('valoareTemperatura') || 30; \ncomandaCentrala = global.get('comandaCentrala') || false;\nvaloareTemperaturaDormitorMare = global.get('valoareTemperaturaDormitorMare') || 30;\nvaloareTemperaturaDormitorMic = global.get('valoareTemperaturaDormitorMic') || 30;\nhysteresisCentrala = 0.2;\n\n\nif(msg.payload.targetTemperatura !== undefined)\n{\n    targetTemperatura = msg.payload.targetTemperatura;\n}\n\nif(msg.payload.stareCentrala !== undefined)\n{\n    stareCentrala = msg.payload.stareCentrala;\n}\n\nif(msg.payload.valoareTemperatura !== undefined)\n{\n    valoareTemperatura = msg.payload.valoareTemperatura;\n}\n\n// determina temperatura cea mai mica\nif(valoareTemperaturaDormitorMare > valoareTemperaturaDormitorMic)\n{\n    valoareTemperatura = valoareTemperaturaDormitorMic;\n} else\n{\n    valoareTemperatura = valoareTemperaturaDormitorMare;\n}\n\nglobal.set('valoareTemperatura',msg.payload);\n\nif(valoareTemperatura > targetTemperatura)\n{\n    global.set('comandaCentrala',false);\n} else\n{\n    if(valoareTemperatura < (targetTemperatura - hysteresisCentrala))\n    global.set('comandaCentrala',true);\n}\n\nmsg.payload = { comandaCentrala:   comandaCentrala, \n                targetTemperatura: targetTemperatura,\n                stareCentrala: stareCentrala,\n                valoareTemperatura: valoareTemperatura,\n                pornireCentrala: targetTemperatura - hysteresisCentrala,\n                oprireCentrala: targetTemperatura,\n                valoareTemperaturaDormitorMare: valoareTemperaturaDormitorMare,\n                valoareTemperaturaDormitorMic: valoareTemperaturaDormitorMic\n              };\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":3840,"wires":[["ad14e823.80ab58","a3462ec3.a3649","835f74e4.69e908","99694a54.220c68","238244da.bc675c","e48a8a94.25c518","53735add.88c384","edfb732f.88f0d"]]},{"id":"5328a365.05e7bc","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda Centrala Pornire","topic":"homie/ecfabcaefa68/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1880,"y":3840,"wires":[]},{"id":"ad14e823.80ab58","type":"function","z":"1d796710.8a18b9","name":"porneste centrala","func":"targetTemperatura = global.get('targetTemperatura') || 20; \nstareCentrala = global.get('stareCentrala') || false; \nvaloareTemperatura = global.get('valoareTemperatura') || 30; \ncomandaCentrala = global.get('comandaCentrala') || false;\nhysteresisCentrala = global.get('hysteresisCentrala') || false;\n\nif(msg.payload.comandaCentrala !== undefined)\n{\n    if(msg.payload.comandaCentrala === true)\n    {\n        msg.payload = true;\n    }\n    else\n    {\n        msg.payload = false;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3840,"wires":[["5328a365.05e7bc","984adea5.84421"]]},{"id":"99694a54.220c68","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":4,"width":0,"height":0,"name":"Temperatura citita dormitor mic","label":"Temperatura citita dormitor mic","format":"{{msg.payload.valoareTemperaturaDormitorMic}}","layout":"row-spread","x":1630,"y":3800,"wires":[]},{"id":"4cae06d8.228068","type":"function","z":"1d796710.8a18b9","name":"convert string to bool","func":"msg.payload = msg.payload.RfReceived.Data;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1500,"wires":[["873c7505.8fcb38"]]},{"id":"873c7505.8fcb38","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":1,"width":0,"height":0,"name":"Comanda RF","label":"Comanda RF","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":1500,"wires":[]},{"id":"a3462ec3.a3649","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":5,"width":0,"height":0,"name":"Pornire incalzire","label":"Pornire incalzire","format":"{{msg.payload.pornireCentrala}}","layout":"row-spread","x":1580,"y":3880,"wires":[]},{"id":"835f74e4.69e908","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":6,"width":0,"height":0,"name":"Oprire incalzire","label":"Oprire incalzire","format":"{{msg.payload.oprireCentrala}}","layout":"row-spread","x":1580,"y":3920,"wires":[]},{"id":"9dcbd7d0.87f9d8","type":"mqtt in","z":"1d796710.8a18b9","name":"temperatureReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/temperatureRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":3960,"wires":[["4d78c376.5a133c"]]},{"id":"4d78c376.5a133c","type":"function","z":"1d796710.8a18b9","name":"substract 12 from temperature","func":"var temperature = parseFloat(msg.payload);\ntemperature -= 12;\nmsg.payload = temperature.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":3960,"wires":[["d323d0f5.d4e69"]]},{"id":"7a2c36a7.7cec58","type":"comment","z":"1d796710.8a18b9","name":"Intrerupator baie","info":"F59AEE","x":760,"y":1260,"wires":[]},{"id":"8c1f8491.d63948","type":"switch","z":"1d796710.8a18b9","name":"Usa baie deschisa 49920A","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"49920A","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":1300,"wires":[["8576dae7.04b0f8","4b7eac7e.d31f84"]]},{"id":"8576dae7.04b0f8","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1030,"y":1300,"wires":[["550c06b9.75aca8"]]},{"id":"550c06b9.75aca8","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":2,"width":0,"height":0,"name":"Usa baie - deschidere","label":"Usa baie - deschidere","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1300,"wires":[]},{"id":"93796686.742c78","type":"switch","z":"1d796710.8a18b9","name":"Usa baie inchisa 49920E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"49920E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1360,"wires":[["7940a97e.f21408","4ef42446.d0458c"]]},{"id":"7940a97e.f21408","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1030,"y":1360,"wires":[["bc8e9c4.d6dd86"]]},{"id":"bc8e9c4.d6dd86","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":2,"width":0,"height":0,"name":"Usa baie - inchidere","label":"Usa baie - inchidere","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1360,"wires":[]},{"id":"4ef42446.d0458c","type":"function","z":"1d796710.8a18b9","name":"seteaza usaBaieInchisa - true","func":"global.set('usaBaieInchisa',true);\nmsg.payload = {usaBaieInchisa: true};\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1400,"wires":[["60c36dde.6b3124"]]},{"id":"4b7eac7e.d31f84","type":"function","z":"1d796710.8a18b9","name":"seteaza usaBaieInchisa - false","func":"global.set('usaBaieInchisa',false);\nmsg.payload = {usaBaieInchisa: false};\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1260,"wires":[["60c36dde.6b3124"]]},{"id":"60c36dde.6b3124","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":2,"width":0,"height":0,"name":"Usa baie Inchisa","label":"Usa baie Inchisa","format":"{{msg.payload.usaBaieInchisa}}","layout":"row-spread","x":1490,"y":1320,"wires":[]},{"id":"d17ca6a.b727458","type":"comment","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mare","info":"","x":160,"y":4060,"wires":[]},{"id":"5504cdc1.4504c4","type":"comment","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mic","info":"","x":150,"y":4340,"wires":[]},{"id":"f91b8d05.83056","type":"mqtt in","z":"1d796710.8a18b9","name":"TemperatureDormitorMare","topic":"tele/TemperatureDormitorMare/SENSOR","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":150,"y":4140,"wires":[["779715aa.76235c"]]},{"id":"25a68a27.a9a7e6","type":"ui_chart","z":"1d796710.8a18b9","name":"Umiditate Dormitor Mare chart","group":"b81c449c.9497b8","order":2,"width":0,"height":0,"label":"Umiditate Dormitor Mare","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":4160,"wires":[[]]},{"id":"6b79fb27.0d1db4","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate Dormitor Mare","group":"b81c449c.9497b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate Dormitor Mare","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":1050,"y":4120,"wires":[]},{"id":"fd71883.00c6c78","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"humidityDormitorMare","measurement":"humidityDormitorMare","precision":"","retentionPolicy":"","x":1040,"y":4080,"wires":[]},{"id":"17407e56.be09f2","type":"function","z":"1d796710.8a18b9","name":"Get Umiditate Dormitor Mare","func":"msg.payload = msg.payload.AM2301.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":4120,"wires":[["fd71883.00c6c78","6b79fb27.0d1db4","25a68a27.a9a7e6"]]},{"id":"779715aa.76235c","type":"json","z":"1d796710.8a18b9","name":"","property":"payload","action":"","pretty":false,"x":390,"y":4120,"wires":[["17407e56.be09f2","eaf9cdc9.46b34"]]},{"id":"a0d7a738.2ba2c8","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"temperatureDormitorMare","measurement":"temperatureDormitorMare","precision":"","retentionPolicy":"","x":1050,"y":4200,"wires":[]},{"id":"eaf9cdc9.46b34","type":"function","z":"1d796710.8a18b9","name":"Get Temperature Dormitor Mare","func":"global.set('valoareTemperaturaDormitorMare',msg.payload.AM2301.Temperature);\nmsg.payload = msg.payload.AM2301.Temperature;// - 1.7;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4240,"wires":[["a0d7a738.2ba2c8","c2fbd43d.bd0788","cc31751f.3f49b8"]]},{"id":"cc31751f.3f49b8","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mare chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura Dormitor Mare","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":4280,"wires":[[]]},{"id":"c2fbd43d.bd0788","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mare gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura Dormitor Mare","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"18","seg2":"27","x":1080,"y":4240,"wires":[]},{"id":"99f8cbd3.38a728","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"humidityDormitorMic","measurement":"humidityDormitorMic","precision":"","retentionPolicy":"","x":1040,"y":4380,"wires":[]},{"id":"abadbd4a.b9f51","type":"function","z":"1d796710.8a18b9","name":"Get Umiditate Dormitor Mare","func":"msg.payload = msg.payload.AM2301.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":4420,"wires":[["99f8cbd3.38a728","7cf5609d.c328a","51245d0d.a8b274"]]},{"id":"7cf5609d.c328a","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate Dormitor Mic","group":"b81c449c.9497b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate Dormitor Mic","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":1040,"y":4420,"wires":[]},{"id":"51245d0d.a8b274","type":"ui_chart","z":"1d796710.8a18b9","name":"Umiditate Dormitor Mic chart","group":"b81c449c.9497b8","order":2,"width":0,"height":0,"label":"Umiditate Dormitor Mic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1060,"y":4460,"wires":[[]]},{"id":"d189dff8.e05f4","type":"json","z":"1d796710.8a18b9","name":"","property":"payload","action":"","pretty":false,"x":390,"y":4420,"wires":[["abadbd4a.b9f51","138235a4.2c0eaa"]]},{"id":"13944327.5f6f1d","type":"mqtt in","z":"1d796710.8a18b9","name":"TemperatureDormitorMic","topic":"tele/TemperatureDormitorMic/SENSOR","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":150,"y":4440,"wires":[["d189dff8.e05f4"]]},{"id":"138235a4.2c0eaa","type":"function","z":"1d796710.8a18b9","name":"Get Temperature Dormitor Mare","func":"global.set('valoareTemperaturaDormitorMic',msg.payload.AM2301.Temperature);\nmsg.payload = msg.payload.AM2301.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4540,"wires":[["ae2a1b5c.cab188","c62816f7.3aa5c8","27d3d6a0.7c0a2a"]]},{"id":"ae2a1b5c.cab188","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"temperatureDormitorMic","measurement":"temperatureDormitorMic","precision":"","retentionPolicy":"","x":1050,"y":4500,"wires":[]},{"id":"c62816f7.3aa5c8","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mic gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura Dormitor Mic","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"18","seg2":"27","x":1080,"y":4540,"wires":[]},{"id":"27d3d6a0.7c0a2a","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura Dormitor Mic chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura Dormitor Mic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":4580,"wires":[[]]},{"id":"238244da.bc675c","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":4,"width":0,"height":0,"name":"Temperatura citita dormitor mare","label":"Temperatura citita dormitor mare","format":"{{msg.payload.valoareTemperaturaDormitorMare}}","layout":"row-spread","x":1630,"y":3960,"wires":[]},{"id":"e48a8a94.25c518","type":"ui_text","z":"1d796710.8a18b9","group":"eb63a1c9.3cd47","order":4,"width":0,"height":0,"name":"Temperatura minima","label":"Temperatura minima","format":"{{msg.payload.valoareTemperatura}}","layout":"row-spread","x":1600,"y":4000,"wires":[]},{"id":"205c9c75.bc2c84","type":"ui_chart","z":"1d796710.8a18b9","name":"Pornire centrala","group":"eb63a1c9.3cd47","order":2,"width":0,"height":0,"label":"Pornire centrala","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2180,"y":3940,"wires":[[]]},{"id":"53735add.88c384","type":"function","z":"1d796710.8a18b9","name":"porneste centrala numeric","func":"targetTemperatura = global.get('targetTemperatura') || 20; \nstareCentrala = global.get('stareCentrala') || false; \nvaloareTemperatura = global.get('valoareTemperatura') || 30; \ncomandaCentrala = global.get('comandaCentrala') || false;\nhysteresisCentrala = global.get('hysteresisCentrala') || false;\n\nif(msg.payload.comandaCentrala !== undefined)\n{\n    if(msg.payload.comandaCentrala === true)\n    {\n        msg.payload = 1;\n    }\n    else\n    {\n        msg.payload = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":3940,"wires":[["205c9c75.bc2c84","3e6980f8.32634"]]},{"id":"3e6980f8.32634","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"centralaPornita","measurement":"centralaPornita","precision":"","retentionPolicy":"","x":2180,"y":3980,"wires":[]},{"id":"b9064483.86ee18","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"targetTemperaturaCentrala","measurement":"targetTemperaturaCentrala","precision":"","retentionPolicy":"","x":2220,"y":4020,"wires":[]},{"id":"edfb732f.88f0d","type":"function","z":"1d796710.8a18b9","name":"salveaza target temperatura","func":"targetTemperatura = global.get('targetTemperatura') || 20; \nstareCentrala = global.get('stareCentrala') || false; \nvaloareTemperatura = global.get('valoareTemperatura') || 30; \ncomandaCentrala = global.get('comandaCentrala') || false;\nhysteresisCentrala = global.get('hysteresisCentrala') || false;\n\nmsg.payload = targetTemperatura;\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":3980,"wires":[["b9064483.86ee18"]]},{"id":"7be601eb.ee083","type":"comment","z":"1d796710.8a18b9","name":"Lumina Hol","info":"","x":130,"y":2680,"wires":[]},{"id":"9a994042.3bb01","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda lumina hol ","topic":"cmnd/sonoffHolMare/POWER","qos":"","retain":"","broker":"2f18f85d.098da8","x":2920,"y":2760,"wires":[]},{"id":"d45b066a.7413a8","type":"ui_switch","z":"1d796710.8a18b9","name":"Switch Lumina Hol","label":"Switch lumina","tooltip":"","group":"5ef0df21.37adc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":770,"y":2760,"wires":[["c8b6cb4e.80eb68"]]},{"id":"989f8dad.233a1","type":"mqtt in","z":"1d796710.8a18b9","name":"Status lumina comanda hol","topic":"stat/sonoffHolMare/POWER","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":220,"y":2760,"wires":[["c279a71d.b79b88"]]},{"id":"c279a71d.b79b88","type":"function","z":"1d796710.8a18b9","name":"transform to boolean","func":"if(msg.payload === \"ON\")\n{\n    msg.payload = \"on\";\n    global.set('becHolAprins',true);\n}else\n{\n    msg.payload = \"off\";\n    global.set('becHolAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2760,"wires":[["d45b066a.7413a8"]]},{"id":"bfe9a9ca.5f72c8","type":"comment","z":"1d796710.8a18b9","name":"Lumina Bucatarie","info":"","x":140,"y":2840,"wires":[]},{"id":"ba48ed8f.f7728","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda lumina bucatarie","topic":"cmnd/sonoffBucatarie/POWER","qos":"","retain":"","broker":"2f18f85d.098da8","x":2940,"y":2920,"wires":[]},{"id":"d122a09f.4d2a","type":"ui_switch","z":"1d796710.8a18b9","name":"Switch Lumina Bucatarie","label":"Switch lumina","tooltip":"","group":"4fa96c7a.17beb4","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":870,"y":2920,"wires":[["85730348.88f31"]]},{"id":"20ac265e.c593fa","type":"mqtt in","z":"1d796710.8a18b9","name":"Status lumina comanda bucatarie","topic":"stat/sonoffBucatarie/POWER","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":240,"y":2920,"wires":[["5013fea.1a828"]]},{"id":"5013fea.1a828","type":"function","z":"1d796710.8a18b9","name":"transform to boolean","func":"if(msg.payload === \"ON\")\n{\n    msg.payload = \"on\";\n    global.set('becBucatarieAprins',true);\n}else\n{\n    msg.payload = \"off\";\n    global.set('becBucatarieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2920,"wires":[["d122a09f.4d2a"]]},{"id":"5646134d.3c3c5c","type":"function","z":"1d796710.8a18b9","name":"salveaza bucatarie - switchBucatarieAprins","func":"switchBucatarieAprins = global.get('switchBucatarieAprins') || false; \n\nif(switchBucatarieAprins === true )\n{\n    global.set('switchBucatarieAprins',false);\n    switchBucatarieAprins = false;\n    \n} else\n{\n    global.set('switchBucatarieAprins',true);\n    switchBucatarieAprins = true;\n}\n \n\nif(switchBucatarieAprins === true)\n{\n    msg.payload.cmd = \"on\";\n}else\n{\n    msg.payload.cmd = \"off\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":2840,"wires":[["2b72dd16.10ef22","cb4f66ea.f99d68"]]},{"id":"cb4f66ea.f99d68","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec bucatarie","func":"eventBucatarieTimestamp = global.get('eventBucatarieTimestamp') || 0; \nvar eventBucatarieTimestampNew = Math.round((new Date()).getTime());\nvar openWithoutEventTime = 120000;\nvar payloadValue = \"off\";\nvar timeOutCalculation = openWithoutEventTime + eventBucatarieTimestamp - eventBucatarieTimestampNew ;\nif(eventBucatarieTimestamp === 0)\n{\n    //first time event save the time\n    global.set('eventBucatarieTimestamp',eventBucatarieTimestampNew);\n}\n// get if the light should open\nswitchBucatarieAprins = global.get('switchBucatarieAprins') || false;\n\nswitchBucatarieAprins = true;\n\nif(switchBucatarieAprins === true)\n{\n    \n    if(timeOutCalculation <= 0)\n    {\n        payloadValue = \"off\";\n    }else\n    {\n        payloadValue = \"on\";\n    }\n}else\n{\n    payloadValue = \"off\";\n}\n\nmsg.payload = { payloadValue: payloadValue,\n                timeOutCalculation: timeOutCalculation,\n                switchBucatarieAprins: switchBucatarieAprins};\n                \n                \nreturn msg;\n","outputs":1,"noerr":0,"x":2090,"y":2920,"wires":[["ea0f9fd9.ad529","67722ad0.a1f424","9c19ca81.1305a8"]]},{"id":"85730348.88f31","type":"function","z":"1d796710.8a18b9","name":"salveaza stare switch - switchBucatarieAprins","func":"if(msg.payload == \"on\")\n{\n    global.set('switchBucatarieAprins',true);\n} else\n{\n    global.set('switchBucatarieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2920,"wires":[["a727faf8.c3c208"]]},{"id":"fcb39cbf.28b37","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":5,"width":0,"height":0,"name":"","label":"Comanda lumina bucatarie","format":"{{msg.payload}}","layout":"row-spread","x":2940,"y":2840,"wires":[]},{"id":"2b72dd16.10ef22","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":3,"width":0,"height":0,"name":"","label":"Stare switch-uri fizice","format":"{{msg.payload.cmd}}","layout":"row-spread","x":1440,"y":2800,"wires":[]},{"id":"b80756e2.1f0f98","type":"json","z":"1875369e.319149","name":"Data","property":"payload","action":"","pretty":false,"x":310,"y":60,"wires":[["5a9a6b5b.55be14"]]},{"id":"cb7ec844.a6b598","type":"mqtt in","z":"1875369e.319149","name":"Bridge sufragerie","topic":"tele/sonoffRFBrg1/STATE","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":140,"y":60,"wires":[["b80756e2.1f0f98"]]},{"id":"23a90bef.3d4ad4","type":"inject","z":"1875369e.319149","name":"check that the nodes are ok","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":520,"wires":[["8ebe4b83.6f8fd8","e541245.a8aa9d8","8d27ba69.7c0948","34d9eae7.cb2536"]]},{"id":"5a9a6b5b.55be14","type":"function","z":"1875369e.319149","name":"salveaza timestamp telemetrie","func":"var sonoffBridgeSufragerieTimestamp = Math.round((new Date()).getTime());\nglobal.set('sonoffBridgeSufragerieTimestamp',sonoffBridgeSufragerieTimestamp);\n\nmsg.payload = sonoffBridgeSufragerieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["f3470f55.b49cb"]]},{"id":"8ebe4b83.6f8fd8","type":"function","z":"1875369e.319149","name":"watchdog bridge sufragerie","func":"sonoffBridgeSufragerieTimestamp = global.get('sonoffBridgeSufragerieTimestamp') || 0;\nif(sonoffBridgeSufragerieTimestamp === 0)\n{\n    // the device has not yet triggered save the time from now assume this is the first occuence\n    var sonoffBridgeSufragerieTimestamp = Math.round((new Date()).getTime());\n    global.set('sonoffBridgeSufragerieTimestamp',sonoffBridgeSufragerieTimestamp);\n}\n\nvar sonoffBridgeSufragerieTimestampNew = Math.round((new Date()).getTime());\nvar timestamp = sonoffBridgeSufragerieTimestampNew - sonoffBridgeSufragerieTimestamp;\nvar deviceLive = false;\nif(timestamp < 600000 )\n{\n    // the device is live\n    deviceLive = true;\n    global.set('sonoffBridgeSufragerieLive',true);\n}else\n{\n    //device is dead\n    deviceLive = false;\n    global.set('sonoffBridgeSufragerieLive',false);\n}\nmsg.payload = { deviceLive: deviceLive,\n                sonoffBridgeSufragerieTimestamp: sonoffBridgeSufragerieTimestamp,\n                sonoffBridgeSufragerieTimestampNew: sonoffBridgeSufragerieTimestampNew,\n                timestamp: timestamp};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["eb002828.177f08","9f0ae69f.eaefe8","43a34c10.b785c4"]]},{"id":"f3470f55.b49cb","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge sufragerie","label":"Bridge sufragerie","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":60,"wires":[]},{"id":"eb002828.177f08","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge sufragerie live","label":"Bridge sufragerie live","format":"{{msg.payload.deviceLive}}","layout":"row-spread","x":820,"y":520,"wires":[]},{"id":"9f0ae69f.eaefe8","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge sufragerie timestamp","label":"Bridge sufragerie timestamp","format":"{{msg.payload.timestamp}}","layout":"row-spread","x":840,"y":560,"wires":[]},{"id":"55e797c8.40ff38","type":"json","z":"1875369e.319149","name":"Data","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["df8c898e.05d0f8"]]},{"id":"4c99bc22.7f57a4","type":"mqtt in","z":"1875369e.319149","name":"Bridge dormitor mic","topic":"tele/sonoffRFBrg2/STATE","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":150,"y":120,"wires":[["55e797c8.40ff38"]]},{"id":"df8c898e.05d0f8","type":"function","z":"1875369e.319149","name":"salveaza timestamp telemetrie","func":"var sonoffBridgeDormitorMicTimestamp = Math.round((new Date()).getTime());\nglobal.set('sonoffBridgeDormitorMicTimestamp',sonoffBridgeDormitorMicTimestamp);\n\nmsg.payload = sonoffBridgeDormitorMicTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["15043f0d.0d81f1"]]},{"id":"15043f0d.0d81f1","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge dormitor mic","label":"Bridge dormitor mic","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":120,"wires":[]},{"id":"e541245.a8aa9d8","type":"function","z":"1875369e.319149","name":"watchdog bridge dormitor mic","func":"sonoffBridgeDormitorMicTimestamp = global.get('sonoffBridgeDormitorMicTimestamp') || 0;\nif(sonoffBridgeDormitorMicTimestamp === 0)\n{\n    // the device has not yet triggered save the time from now assume this is the first occuence\n    var sonoffBridgeDormitorMicTimestamp = Math.round((new Date()).getTime());\n    global.set('sonoffBridgeDormitorMicTimestamp',sonoffBridgeDormitorMicTimestamp);\n}\nvar sonoffBridgeDormitorMicTimestampNew = Math.round((new Date()).getTime());\nvar timestamp = sonoffBridgeDormitorMicTimestampNew - sonoffBridgeDormitorMicTimestamp;\nvar deviceLive = false;\n\n\nif(timestamp < 600000 )\n{\n    // the device is live\n    deviceLive = true;\n    global.set('sonoffBridgeDormitorMicLive',true);\n}else\n{\n    //device is dead\n    deviceLive = false;\n    global.set('sonoffBridgeDormitorMicLive',false);\n}\n\nmsg.payload = { deviceLive: deviceLive,\n                sonoffBridgeDormitorMicTimestamp: sonoffBridgeDormitorMicTimestamp,\n                sonoffBridgeDormitorMicTimestampNew: sonoffBridgeDormitorMicTimestampNew,\n                timestamp: timestamp};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":640,"wires":[["4fc0fbae.f21794","861e498f.8ee328","43a34c10.b785c4"]]},{"id":"4fc0fbae.f21794","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge dormitor live","label":"Bridge dormitor live","format":"{{msg.payload.deviceLive}}","layout":"row-spread","x":810,"y":640,"wires":[]},{"id":"861e498f.8ee328","type":"ui_text","z":"1875369e.319149","group":"2e66deab.11bb82","order":6,"width":0,"height":0,"name":"Bridge dormitor timestamp","label":"Bridge dormitor timestamp","format":"{{msg.payload.timestamp}}","layout":"row-spread","x":840,"y":680,"wires":[]},{"id":"b17f7cf2.0b2b2","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBucatarieTimestamp","func":"var eventBucatarieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBucatarieTimestamp',eventBucatarieTimestamp);\n\nmsg.payload = eventBucatarieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2320,"wires":[["cb4f66ea.f99d68"]]},{"id":"f327eb1.665b818","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBucatarieTimestamp","func":"var eventBucatarieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBucatarieTimestamp',eventBucatarieTimestamp);\n\nmsg.payload = eventBucatarieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2400,"wires":[["cb4f66ea.f99d68"]]},{"id":"a727faf8.c3c208","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBucatarieTimestamp","func":"var eventBucatarieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBucatarieTimestamp',eventBucatarieTimestamp);\n\nmsg.payload = eventBucatarieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2920,"wires":[["cb4f66ea.f99d68"]]},{"id":"bc00907c.f2c5c","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBucatarieTimestamp","func":"var eventBucatarieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBucatarieTimestamp',eventBucatarieTimestamp);\n\nmsg.payload = eventBucatarieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":2140,"wires":[[]]},{"id":"5fe9e712.42e8e8","type":"json","z":"1d796710.8a18b9","name":"Data","property":"payload","action":"","pretty":false,"x":450,"y":1280,"wires":[["8c1f8491.d63948","93796686.742c78","4cae06d8.228068","2ead875e.be00b8"]]},{"id":"ea0f9fd9.ad529","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec bucatarie - trimite on/off","func":"if(msg.payload.payloadValue === \"on\")\n{\n    msg.payload = \"on\";\n}else\n{\n    msg.payload = \"off\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2550,"y":2920,"wires":[["ba48ed8f.f7728","fcb39cbf.28b37"]]},{"id":"67722ad0.a1f424","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":5,"width":0,"height":0,"name":"Time remaining","label":"Time remaining","format":"{{msg.payload.timeOutCalculation}}","layout":"row-spread","x":2420,"y":2960,"wires":[]},{"id":"9c19ca81.1305a8","type":"ui_text","z":"1d796710.8a18b9","group":"4fa96c7a.17beb4","order":5,"width":0,"height":0,"name":"Stare switch","label":"Stare switch","format":"{{msg.payload.switchBucatarieAprins}}","layout":"row-spread","x":2410,"y":3000,"wires":[]},{"id":"c47b0267.5ef4c","type":"inject","z":"1d796710.8a18b9","name":"close the light if no presence detected","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":1850,"y":3000,"wires":[["cb4f66ea.f99d68"]]},{"id":"2644e711.341b58","type":"mqtt in","z":"1d796710.8a18b9","name":"Bridge dormitor mic","topic":"tele/sonoffRFBrg2/RESULT","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":110,"y":1280,"wires":[["5fe9e712.42e8e8"]]},{"id":"a3d40f69.67936","type":"mqtt in","z":"1d796710.8a18b9","name":"Bridge sufragerie","topic":"tele/sonoffRFBrg1/RESULT","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":100,"y":1560,"wires":[["ccf15ea8.dc6d8"]]},{"id":"415e7b39.747454","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F5108E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F5108E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":2560,"wires":[["d02ddd5.1eed42","d8eee0d1.f531d"]]},{"id":"a6492d5b.a9c02","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F45C0E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F45C0E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":2620,"wires":[["83079e1e.8e13d","d6c3167c.edf688"]]},{"id":"d02ddd5.1eed42","type":"trigger","z":"1d796710.8a18b9","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1150,"y":2560,"wires":[["810d8855.0b4d68"]]},{"id":"810d8855.0b4d68","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":1,"width":0,"height":0,"name":"","label":"Senzor miscare hol 1","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":2560,"wires":[]},{"id":"83079e1e.8e13d","type":"trigger","z":"1d796710.8a18b9","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1150,"y":2640,"wires":[["8046769d.8aa0c8"]]},{"id":"8046769d.8aa0c8","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":2,"width":0,"height":0,"name":"","label":"Senzor miscare hol 2","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":2640,"wires":[]},{"id":"304fde1d.3ea4d2","type":"comment","z":"1d796710.8a18b9","name":"Motion sensors hol","info":"","x":740,"y":2500,"wires":[]},{"id":"d8eee0d1.f531d","type":"function","z":"1d796710.8a18b9","name":"salveaza event hol - eventHolTimestamp","func":"var eventHolTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventHolTimestamp',eventHolTimestamp);\n\nmsg.payload = eventHolTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":2520,"wires":[["9815b173.8b091"]]},{"id":"d6c3167c.edf688","type":"function","z":"1d796710.8a18b9","name":"salveaza event hol - eventHolTimestamp","func":"var eventHolTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventHolTimestamp',eventHolTimestamp);\n\nmsg.payload = eventHolTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":2600,"wires":[["9815b173.8b091"]]},{"id":"14c3b05a.6e8ed","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec bucatarie - trimite on/off","func":"if(msg.payload.payloadValue === \"on\")\n{\n    msg.payload = \"on\";\n}else\n{\n    msg.payload = \"off\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2510,"y":2760,"wires":[["9a994042.3bb01","b3f709ec.e45138"]]},{"id":"5c2ea0a5.5c127","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":5,"width":0,"height":0,"name":"Time remaining hol","label":"Time remaining hol","format":"{{msg.payload.timeOutCalculation}}","layout":"row-spread","x":2410,"y":2800,"wires":[]},{"id":"7daa8e6b.11cb5","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":5,"width":0,"height":0,"name":"Stare switch hol","label":"Stare switch hol","format":"{{msg.payload.switchHolAprins}}","layout":"row-spread","x":2400,"y":2840,"wires":[]},{"id":"9815b173.8b091","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec hol","func":"eventHolTimestamp = global.get('eventHolTimestamp') || 0; \nvar eventHolTimestampNew = Math.round((new Date()).getTime());\nvar openWithoutEventTime = 30000;\nvar payloadValue = \"off\";\nvar timeOutCalculation = openWithoutEventTime + eventHolTimestamp - eventHolTimestampNew ;\nif(eventHolTimestamp === 0)\n{\n    //first time event save the time\n    global.set('eventHolTimestamp',eventHolTimestamp);\n}\n// get if the light should open\nswitchHolAprins = global.get('switchHolAprins') || false;\nswitchHolAprins = true;\n\nif(switchHolAprins === true)\n{\n    \n    if(timeOutCalculation <= 0)\n    {\n        payloadValue = \"off\";\n    }else\n    {\n        payloadValue = \"on\";\n    }\n}else\n{\n    payloadValue = \"off\";\n}\n\nmsg.payload = { payloadValue: payloadValue,\n                timeOutCalculation: timeOutCalculation,\n                switchHolAprins: switchHolAprins};\n                \n                \nreturn msg;\n","outputs":1,"noerr":0,"x":2050,"y":2760,"wires":[["14c3b05a.6e8ed","5c2ea0a5.5c127","7daa8e6b.11cb5"]]},{"id":"c856765c.0a20f8","type":"inject","z":"1d796710.8a18b9","name":"close the light if no presence detected","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":1830,"y":2840,"wires":[["9815b173.8b091"]]},{"id":"a7c45bef.67a548","type":"function","z":"1d796710.8a18b9","name":"salveaza event hol - eventHolTimestamp","func":"var eventHolTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventHolTimestamp',eventHolTimestamp);\n\nmsg.payload = eventHolTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":2760,"wires":[["9815b173.8b091"]]},{"id":"c8b6cb4e.80eb68","type":"function","z":"1d796710.8a18b9","name":"salveaza stare switch - switchHolAprins","func":"if(msg.payload == \"on\")\n{\n    global.set('switchHolAprins',true);\n} else\n{\n    global.set('switchHolAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2760,"wires":[["a7c45bef.67a548"]]},{"id":"ab6cf8c4.9af188","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":3,"width":0,"height":0,"name":"","label":"Stare switch-uri fizice hol","format":"{{msg.payload.cmd}}","layout":"row-spread","x":1470,"y":2660,"wires":[]},{"id":"12c999ea.0072a6","type":"function","z":"1d796710.8a18b9","name":"salveaza hol - switchHolAprins","func":"switchHolAprins = global.get('switchHolAprins') || false; \n\nif(switchHolAprins === true )\n{\n    global.set('switchHolAprins',false);\n    switchHolAprins = false;\n    \n} else\n{\n    global.set('switchHolAprins',true);\n    switchHolAprins = true;\n}\n \n\nif(switchHolAprins === true)\n{\n    msg.payload.cmd = \"on\";\n}else\n{\n    msg.payload.cmd = \"off\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":2680,"wires":[["ab6cf8c4.9af188","9815b173.8b091"]]},{"id":"b3f709ec.e45138","type":"ui_text","z":"1d796710.8a18b9","group":"5ef0df21.37adc","order":5,"width":0,"height":0,"name":"","label":"Comanda lumina hol","format":"{{msg.payload}}","layout":"row-spread","x":2900,"y":2680,"wires":[]},{"id":"a0c3b25b.fc787","type":"comment","z":"1d796710.8a18b9","name":"Lumina baie","info":"","x":130,"y":3200,"wires":[]},{"id":"ac56da73.a2aec8","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda lumina bucatarie","topic":"cmnd/sonoffBasicBaie/POWER","qos":"","retain":"","broker":"2f18f85d.098da8","x":2960,"y":3240,"wires":[]},{"id":"5cd66084.a4af1","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":5,"width":0,"height":0,"name":"","label":"Comanda lumina baie","format":"{{msg.payload}}","layout":"row-spread","x":2940,"y":3160,"wires":[]},{"id":"9d10a6db.83b848","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec bucatarie - trimite on/off","func":"if(msg.payload.payloadValue === \"on\")\n{\n    msg.payload = \"on\";\n}else\n{\n    msg.payload = \"off\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2550,"y":3240,"wires":[["ac56da73.a2aec8","5cd66084.a4af1"]]},{"id":"4f732ade.173a34","type":"function","z":"1d796710.8a18b9","name":"proceseaza comanda switch bec baie","func":"eventBaieTimestamp = global.get('eventBaieTimestamp') || 0;\n\n\nusaBaieInchisa = global.get('usaBaieInchisa');\nvar eventBaieTimestampNew = Math.round((new Date()).getTime());\nvar openWithoutEventTime = 600000;\nvar payloadValue = \"off\";\nvar timeOutCalculation = openWithoutEventTime + eventBaieTimestamp - eventBaieTimestampNew ;\n\nif(eventBaieTimestamp === 0)\n{\n    //first time event save the time\n    global.set('eventBaieTimestamp',eventBaieTimestampNew);\n}\n// get if the light should open\nswitchBaieAprins = global.get('switchBaieAprins') || false;\nswitchBaieAprins = true;\n\nif(switchBaieAprins === true)\n{\n    \n    if(timeOutCalculation <= 0)\n    {\n        payloadValue = \"off\";\n    }else\n    {\n        payloadValue = \"on\";\n    }\n}else\n{\n    payloadValue = \"off\";\n}\n\n\nmsg.payload = { payloadValue: payloadValue,\n                timeOutCalculation: timeOutCalculation,\n                usaBaieInchisa: usaBaieInchisa,\n                switchBaieAprins: switchBaieAprins};\n                \n                \nreturn msg;\n","outputs":1,"noerr":0,"x":2090,"y":3240,"wires":[["9d10a6db.83b848","259bd614.37f12a","f32d287.f4876d8"]]},{"id":"259bd614.37f12a","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":5,"width":0,"height":0,"name":"Time remaining","label":"Time remaining","format":"{{msg.payload.timeOutCalculation}}","layout":"row-spread","x":2440,"y":3300,"wires":[]},{"id":"f32d287.f4876d8","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":5,"width":0,"height":0,"name":"Stare switch","label":"Stare switch","format":"{{msg.payload.switchBucatarieAprins}}","layout":"row-spread","x":2430,"y":3340,"wires":[]},{"id":"8ff38a1.ba8a378","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBaieTimestamp","func":"var eventBaieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBaieTimestamp',eventBaieTimestamp);\n\nmsg.payload = eventBaieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1400,"wires":[[]]},{"id":"7d0e2b73.f67324","type":"inject","z":"1d796710.8a18b9","name":"close the light if no presence detected","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":1850,"y":3320,"wires":[["4f732ade.173a34"]]},{"id":"2a7af59c.70537a","type":"ui_switch","z":"1d796710.8a18b9","name":"Switch Lumina Baie","label":"Switch lumina","tooltip":"","group":"327b8803.26c1c8","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":850,"y":3240,"wires":[["1aec67cd.4a6f18"]]},{"id":"37d3a072.95738","type":"mqtt in","z":"1d796710.8a18b9","name":"Status lumina comanda baie","topic":"stat/sonoffBasicBaie/POWER","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":230,"y":3240,"wires":[["b7c82755.0b3098"]]},{"id":"b7c82755.0b3098","type":"function","z":"1d796710.8a18b9","name":"transform to boolean","func":"if(msg.payload === \"ON\")\n{\n    msg.payload = \"on\";\n    global.set('becBaieAprins',true);\n}else\n{\n    msg.payload = \"off\";\n    global.set('becBaieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":3240,"wires":[["2a7af59c.70537a"]]},{"id":"38341b58.3bea34","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBaieTimestamp","func":"var eventBaieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBaieTimestamp',eventBaieTimestamp);\nusaBaieInchisa = global.get('usaBaieInchisa') || true;\n\nmsg.payload = usaBaieInchisa;\n\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":3240,"wires":[["4f732ade.173a34"]]},{"id":"1aec67cd.4a6f18","type":"function","z":"1d796710.8a18b9","name":"salveaza stare switch - switchBaieAprins","func":"if(msg.payload == \"on\")\n{\n    global.set('switchBBaieAprins',true);\n} else\n{\n    global.set('switchBaieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":3240,"wires":[["38341b58.3bea34"]]},{"id":"2ead875e.be00b8","type":"switch","z":"1d796710.8a18b9","name":"Senzor prezenta baie F59AEE","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F59AEE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1440,"wires":[["7c891ed6.22771","7f2c6440.2970dc"]]},{"id":"d4e7bc2f.69b1d","type":"ui_text","z":"1d796710.8a18b9","group":"327b8803.26c1c8","order":2,"width":0,"height":0,"name":"Senzor prezenta","label":"Senzor prezenta","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":1440,"wires":[]},{"id":"7c891ed6.22771","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":1440,"wires":[["d4e7bc2f.69b1d"]]},{"id":"7f2c6440.2970dc","type":"function","z":"1d796710.8a18b9","name":"salveaza event bucatarie - eventBaieTimestamp","func":"var eventBaieTimestamp = Math.round((new Date()).getTime());\nglobal.set('eventBaieTimestamp',eventBaieTimestamp);\n\nmsg.payload = eventBaieTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1480,"wires":[["4f732ade.173a34"]]},{"id":"68a53324.48dffc","type":"mqtt in","z":"1875369e.319149","name":"TemperatureDormitorMic","topic":"tele/TemperatureDormitorMic/SENSOR","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":200,"wires":[["c78f0009.e7a6e"]]},{"id":"c78f0009.e7a6e","type":"json","z":"1875369e.319149","name":"","property":"payload","action":"","pretty":false,"x":390,"y":200,"wires":[["4b23f58.2c0570c","d2bfead.0495a18"]]},{"id":"4b23f58.2c0570c","type":"function","z":"1875369e.319149","name":"Get Temperature Dormitor Mic is null","func":"dormitorMicNullCount = global.get('dormitorMicNullCount') || 0; \n\nif(msg.payload.AM2301.Temperature === null)\n{\n    // reset the sensor\n    dormitorMicNullCount = dormitorMicNullCount + 1;\n    if(dormitorMicNullCount > 3) \n    {\n        msg.payload = \"1\";\n        dormitorMicNullCount = 0;\n    }\n    global.set('dormitorMicNullCount',dormitorMicNullCount);\n}\nelse\n{\n    msg.payload = \"0\";\n    dormitorMicNullCount = 0;\n    global.set('dormitorMicNullCount',dormitorMicNullCount);\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["e869f219.9cc4d","ab2b9595.989608","adc7dff1.84505"]]},{"id":"e869f219.9cc4d","type":"ui_text","z":"1875369e.319149","group":"62f08d15.2d7cb4","order":6,"width":0,"height":0,"name":"Temperatura dormitor mic restart","label":"Temperatura dormitor mic restart","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":160,"wires":[]},{"id":"41285693.6fe938","type":"mqtt in","z":"1875369e.319149","name":"TemperatureDormitorMare","topic":"tele/TemperatureDormitorMare/SENSOR","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":360,"wires":[["784f2ba2.a56804"]]},{"id":"784f2ba2.a56804","type":"json","z":"1875369e.319149","name":"","property":"payload","action":"","pretty":false,"x":390,"y":360,"wires":[["477c30fc.ef269","c48bcb53.43b878"]]},{"id":"477c30fc.ef269","type":"function","z":"1875369e.319149","name":"Get Temperature Dormitor Mare is null","func":"dormitorMareNullCount = global.get('dormitorMareNullCount') || 0; \n\nif(msg.payload.AM2301.Temperature === null)\n{\n    // reset the sensor\n    dormitorMareNullCount = dormitorMareNullCount + 1;\n    if(dormitorMareNullCount > 3) \n    {\n        msg.payload = \"1\";\n        dormitorMareNullCount = 0;\n    }\n    global.set('dormitorMareNullCount',dormitorMareNullCount);\n}\nelse\n{\n    msg.payload = \"0\";\n    dormitorMicNullCount = 0;\n    global.set('dormitorMareNullCount',dormitorMareNullCount);\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["9fff2946.b7f138","fe756cf8.ead38","25cbd047.29672"]]},{"id":"9fff2946.b7f138","type":"ui_text","z":"1875369e.319149","group":"62f08d15.2d7cb4","order":6,"width":0,"height":0,"name":"Temperatura dormitor mare restart","label":"Temperatura dormitor mare restart","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"fe756cf8.ead38","type":"influxdb out","z":"1875369e.319149","influxdb":"cab276d8.d054e8","name":"temperatureDormitorMareReset","measurement":"temperatureDormitorMareReset","precision":"","retentionPolicy":"","x":1090,"y":420,"wires":[]},{"id":"ab2b9595.989608","type":"influxdb out","z":"1875369e.319149","influxdb":"cab276d8.d054e8","name":"temperatureDormitorMicReset","measurement":"temperatureDormitorMicReset","precision":"","retentionPolicy":"","x":1090,"y":120,"wires":[]},{"id":"adc7dff1.84505","type":"switch","z":"1875369e.319149","name":"reset only if needed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":200,"wires":[["cd1ce3b1.08c6c","43a34c10.b785c4"]]},{"id":"25cbd047.29672","type":"switch","z":"1875369e.319149","name":"reset only if needed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":360,"wires":[[]]},{"id":"cc3465dd.9b4128","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mare","label":"Temperatura Dormitor Mare","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":240,"wires":[]},{"id":"d2bfead.0495a18","type":"function","z":"1875369e.319149","name":"salveaza timestamp telemetrie","func":"var sonoffTemperaturaDormitorMicTimestamp = Math.round((new Date()).getTime());\nglobal.set('sonoffTemperaturaDormitorMicTimestamp',sonoffTemperaturaDormitorMicTimestamp);\n\nmsg.payload = sonoffTemperaturaDormitorMicTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["cc3465dd.9b4128"]]},{"id":"60242143.17915","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mic","label":"Temperatura Dormitor Mic","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":460,"wires":[]},{"id":"c48bcb53.43b878","type":"function","z":"1875369e.319149","name":"salveaza timestamp telemetrie","func":"var sonoffTemperaturaDormitorMareTimestamp = Math.round((new Date()).getTime());\nglobal.set('sonoffTemperaturaDormitorMareTimestamp',sonoffTemperaturaDormitorMareTimestamp);\n\nmsg.payload = sonoffTemperaturaDormitorMareTimestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["60242143.17915"]]},{"id":"8d27ba69.7c0948","type":"function","z":"1875369e.319149","name":"watchdog bridge temeperatura dormitor mare","func":"sonoffTemperaturaDormitorMareTimestamp = global.get('sonoffTemperaturaDormitorMareTimestamp') || 0;\nif(sonoffTemperaturaDormitorMareTimestamp === 0)\n{\n    // the device has not yet triggered save the time from now assume this is the first occuence\n    var sonoffTemperaturaDormitorMareTimestamp = Math.round((new Date()).getTime());\n    global.set('sonoffTemperaturaDormitorMareTimestamp',sonoffTemperaturaDormitorMareTimestamp);\n}\nvar sonoffTemperaturaDormitorMareTimestampNew = Math.round((new Date()).getTime());\nvar timestamp = sonoffTemperaturaDormitorMareTimestampNew - sonoffTemperaturaDormitorMareTimestamp;\nvar deviceLive = false;\n\n\nif(timestamp < 600000 )\n{\n    // the device is live\n    deviceLive = true;\n    global.set('sonoffBridgeDormitorMicLive',true);\n}else\n{\n    //device is dead\n    deviceLive = false;\n    global.set('sonoffBridgeDormitorMicLive',false);\n}\n\nmsg.payload = { deviceLive: deviceLive,\n                sonoffTemperaturaDormitorMareTimestamp: sonoffTemperaturaDormitorMareTimestamp,\n                sonoffTemperaturaDormitorMareTimestampNew: sonoffTemperaturaDormitorMareTimestampNew,\n                timestamp: timestamp};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":740,"wires":[["a563db1e.53c478","823d9d55.7192b","43a34c10.b785c4"]]},{"id":"a563db1e.53c478","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mare Live","label":"Temperatura Dormitor Mare Live","format":"{{msg.payload.deviceLive}}","layout":"row-spread","x":970,"y":740,"wires":[]},{"id":"823d9d55.7192b","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mare Timestamp","label":"Temperatura Dormitor Mare Timestamp","format":"{{msg.payload.timestamp}}","layout":"row-spread","x":1020,"y":780,"wires":[]},{"id":"34d9eae7.cb2536","type":"function","z":"1875369e.319149","name":"watchdog bridge dormitor mic","func":"sonoffTemperaturaDormitorMicTimestamp = global.get('sonoffTemperaturaDormitorMicTimestamp') || 0;\nif(sonoffTemperaturaDormitorMicTimestamp === 0)\n{\n    // the device has not yet triggered save the time from now assume this is the first occuence\n    var sonoffTemperaturaDormitorMicTimestamp = Math.round((new Date()).getTime());\n    global.set('sonoffTemperaturaDormitorMicTimestamp',sonoffTemperaturaDormitorMicTimestamp);\n}\nvar sonoffTemperaturaDormitorMicTimestampNew = Math.round((new Date()).getTime());\nvar timestamp = sonoffTemperaturaDormitorMicTimestampNew - sonoffTemperaturaDormitorMicTimestamp;\nvar deviceLive = false;\n\n\nif(timestamp < 600000 )\n{\n    // the device is live\n    deviceLive = true;\n    global.set('sonoffBridgeDormitorMicLive',true);\n}else\n{\n    //device is dead\n    deviceLive = false;\n    global.set('sonoffBridgeDormitorMicLive',false);\n}\n\nmsg.payload = { deviceLive: deviceLive,\n                sonoffTemperaturaDormitorMicTimestamp: sonoffTemperaturaDormitorMicTimestamp,\n                sonoffTemperaturaDormitorMicTimestampNew: sonoffTemperaturaDormitorMicTimestampNew,\n                timestamp: timestamp};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":840,"wires":[["b832e693.298b48","40c93d99.042624","43a34c10.b785c4"]]},{"id":"b832e693.298b48","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mic Live","label":"Temperatura Dormitor Mic Live","format":"{{msg.payload.deviceLive}}","layout":"row-spread","x":970,"y":840,"wires":[]},{"id":"40c93d99.042624","type":"ui_text","z":"1875369e.319149","group":"a99720e.6e9b5e","order":6,"width":0,"height":0,"name":"Temperatura Dormitor Mic Timestamp","label":"Temperatura Dormitor Mic Timestamp","format":"{{msg.payload.timestamp}}","layout":"row-spread","x":990,"y":880,"wires":[]},{"id":"43a34c10.b785c4","type":"switch","z":"1875369e.319149","name":"msg.payload.deviceLive ","property":"payload.deviceLive","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":660,"wires":[["cd1ce3b1.08c6c"]]},{"id":"a399e4b.e3c0118","type":"inject","z":"1d796710.8a18b9","name":"05:30 - 24 degreese","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"30 05 * * *","once":false,"onceDelay":0.1,"x":160,"y":3840,"wires":[["b323bb52.120658"]]},{"id":"e5b47f04.1d2cd","type":"inject","z":"1d796710.8a18b9","name":"20:00 - 24.2 degreese","topic":"","payload":"24.2","payloadType":"num","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":168,"y":3920,"wires":[["b323bb52.120658"]]},{"id":"a087801b.949cf","type":"comment","z":"1d796710.8a18b9","name":"Modifica temperatura dimineata si seara","info":"","x":190,"y":3800,"wires":[]},{"id":"e819979d.546b68","type":"inject","z":"1d796710.8a18b9","name":"07:30 - 23.5 degreese","topic":"","payload":"23.5","payloadType":"num","repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":0.1,"x":170,"y":3880,"wires":[["b323bb52.120658"]]},{"id":"40096f24.1c5db","type":"telegram sender","z":"1875369e.319149","name":"homeAutomation_bot","bot":"b0949172.b4377","x":1560,"y":540,"wires":[[]]},{"id":"a55b6d03.bd688","type":"function","z":"1875369e.319149","name":"convert text for telegram","func":"var newMsgPayload = {   content: msg.payload,\n                        type: \"message\",\n                        chatId:991635368};\n\nvar newMsg = {payload: newMsgPayload};\nreturn newMsg;","outputs":1,"noerr":0,"x":1490,"y":480,"wires":[["40096f24.1c5db"]]},{"id":"cd1ce3b1.08c6c","type":"json","z":"1875369e.319149","name":"","property":"payload","action":"str","pretty":false,"x":1370,"y":420,"wires":[["a55b6d03.bd688"]]},{"id":"e2295217.15fbe","type":"comment","z":"1d796710.8a18b9","name":"Lumina dormitor mare","info":"","x":160,"y":2980,"wires":[]},{"id":"fd967119.b5b83","type":"mqtt in","z":"1d796710.8a18b9","name":"Status lumina dormitor mare buton","topic":"stat/luminaPatDorimitorMare/POWER4","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":240,"y":3020,"wires":[["58dbfeac.03e7"]]},{"id":"df15b10e.49d3","type":"mqtt in","z":"1d796710.8a18b9","name":"Status lumina dormitor mare","topic":"stat/luminaDormitorMare/POWER","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":220,"y":3100,"wires":[["87f7e409.7f5ac8"]]},{"id":"58dbfeac.03e7","type":"function","z":"1d796710.8a18b9","name":"transform to boolean","func":"if(msg.payload === \"ON\")\n{\n    msg.payload = \"on\";\n    global.set('becBucatarieAprins',true);\n}else\n{\n    msg.payload = \"off\";\n    global.set('becBucatarieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":3020,"wires":[["8cba3b57.b99868","463733dc.bc193c"]]},{"id":"87f7e409.7f5ac8","type":"function","z":"1d796710.8a18b9","name":"transform to boolean","func":"if(msg.payload === \"ON\")\n{\n    msg.payload = \"on\";\n    global.set('becBucatarieAprins',true);\n}else\n{\n    msg.payload = \"off\";\n    global.set('becBucatarieAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3140,"wires":[["b8d91e26.19c9a"]]},{"id":"8cba3b57.b99868","type":"ui_switch","z":"1d796710.8a18b9","name":"Switch Lumina Dormitor Mare","label":"Switch lumina","tooltip":"","group":"4fa96c7a.17beb4","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":950,"y":3000,"wires":[["463733dc.bc193c"]]},{"id":"463733dc.bc193c","type":"mqtt out","z":"1d796710.8a18b9","name":"Comanda lumina dormitor mare","topic":"cmnd/luminaDormitorMare/POWER","qos":"","retain":"","broker":"2f18f85d.098da8","x":1390,"y":3080,"wires":[]},{"id":"b8d91e26.19c9a","type":"function","z":"1d796710.8a18b9","name":"salveaza stare lumina dormitor mare - luminaDormitorMareAprins","func":"if(msg.payload == \"on\")\n{\n    global.set('luminaDormitorMareAprins',true);\n} else\n{\n    global.set('luminaDormitorMareAprins',false);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":3140,"wires":[[]]}]