flows_HpProliant.json
[{"id":"1d796710.8a18b9","type":"tab","label":"Automatizare casa","disabled":false,"info":""},{"id":"1875369e.319149","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f18f85d.098da8","type":"mqtt-broker","z":"","name":"Acasa-mosquitto","broker":"192.168.2.1","port":"1883","clientid":"red-node-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abfad651.3283e8","type":"ui_tab","z":"","name":"Grafice temperatura","icon":"dashboard","disabled":false,"hidden":false},{"id":"9d6d2ca2.ab788","type":"ui_group","z":"","name":"Umiditate","tab":"e3f05b27.fb2448","disp":true,"width":"6","collapse":false},{"id":"316dfaab.b98486","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3f05b27.fb2448","type":"ui_tab","z":"","name":"Statistici","icon":"dashboard","disabled":false,"hidden":false},{"id":"614dc8e8.388628","type":"ui_group","z":"","name":"Temperatura","tab":"e3f05b27.fb2448","disp":true,"width":"6","collapse":false},{"id":"ea1c28b.86cafd8","type":"ui_group","z":"","name":"Aer Conditionat","tab":"e3f05b27.fb2448","disp":true,"width":"6","collapse":false},{"id":"611b7259.77501c","type":"mqtt in","z":"1d796710.8a18b9","name":"humidityReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/humidityRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":140,"y":40,"wires":[["691efb5a.943434","fbf92591.9899a8"]]},{"id":"691efb5a.943434","type":"ui_chart","z":"1d796710.8a18b9","name":" Umiditate sufragerie chart","group":"9d6d2ca2.ab788","order":2,"width":0,"height":0,"label":"Umiditate sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":80,"wires":[[]]},{"id":"fbf92591.9899a8","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate sufragerie gauge","group":"9d6d2ca2.ab788","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate sufragerie","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":460,"y":40,"wires":[]},{"id":"fe549d36.61d79","type":"mqtt in","z":"1d796710.8a18b9","name":"temperatureReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/temperatureRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":140,"wires":[["2bb7ceb1.7e2362"]]},{"id":"b4777177.070c2","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura sufragerie gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura sufragerie","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"19","seg2":"27","x":790,"y":180,"wires":[]},{"id":"1a8b2907.9fd777","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura sufragerie chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":140,"wires":[[]]},{"id":"2bb7ceb1.7e2362","type":"function","z":"1d796710.8a18b9","name":"substract 12 from temperature","func":"var temperature = parseFloat(msg.payload);\ntemperature -= 12;\nmsg.payload = temperature.toString();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["1a8b2907.9fd777","b4777177.070c2"]]},{"id":"86a159fb.92d598","type":"ui_switch","z":"1d796710.8a18b9","name":"","label":"Aer conditionat sufragerie","tooltip":"","group":"ea1c28b.86cafd8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":260,"wires":[["c05e8eb7.96c06"]]},{"id":"c05e8eb7.96c06","type":"mqtt out","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1070,"y":260,"wires":[]},{"id":"e2bb6ea2.7a3ce","type":"mqtt in","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":260,"wires":[["14e1db5a.f42b15","4c5a1e8b.a47"]]},{"id":"543e1158.37fff","type":"ui_toast","z":"1d796710.8a18b9","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificari","x":720,"y":320,"wires":[]},{"id":"14e1db5a.f42b15","type":"function","z":"1d796710.8a18b9","name":"Verbouse status aer conditionat","func":"if (msg.payload.localeCompare(\"true\") === 0)\n{\n    msg.payload = \"Aer conditionat deschis\";\n    return msg;\n} else\n{\n    msg.payload = \"Aer conditionat inchis\";\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["543e1158.37fff"]]},{"id":"4c5a1e8b.a47","type":"function","z":"1d796710.8a18b9","name":"convert string to bool","func":"if (msg.payload.localeCompare(\"true\") === 0)\n{\n    msg.payload = true;\n    return msg;\n} else\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["86a159fb.92d598"]]}]