flows_HpProliant.json
[{"id":"1d796710.8a18b9","type":"tab","label":"Automatizare casa","disabled":false,"info":""},{"id":"1875369e.319149","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f18f85d.098da8","type":"mqtt-broker","z":"","name":"Acasa-mosquitto","broker":"192.168.2.1","port":"1883","clientid":"red-node-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abfad651.3283e8","type":"ui_tab","z":"","name":"Automatizare","icon":"dashboard","disabled":false,"hidden":false},{"id":"9d6d2ca2.ab788","type":"ui_group","z":"","name":"Logitech sound sistem","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"316dfaab.b98486","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"614dc8e8.388628","type":"ui_group","z":"","name":"Temperatura","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"ea1c28b.86cafd8","type":"ui_group","z":"","name":"Aer Conditionat","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"830f4ae2.c40498","type":"ui_group","z":"","name":"Senzori","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"ed8a5776.41b2e8","type":"pushbullet-config","z":"","name":"tinel API key"},{"id":"967f7799.cf7278","type":"rmdevice","z":"","folder":"/mnt/hddc/automation/newremote/SharedData","mac":"c8f742836741","host":"192.168.2.119"},{"id":"b81c449c.9497b8","type":"ui_group","z":"","name":"Umiditate","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"4563fb7.7276804","type":"ui_group","z":"","name":"Epson beemer","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"3c5cd02c.cf9ff","type":"ui_group","z":"","name":"Techno air conditioning","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"6e942e2e.2b4f1","type":"ui_group","z":"","name":"Status aer conditionat","tab":"abfad651.3283e8","disp":true,"width":"6","collapse":false},{"id":"cab276d8.d054e8","type":"influxdb","z":"","hostname":"192.168.2.2","port":"8086","protocol":"http","database":"statsdemo","name":"influxConnection","usetls":false,"tls":""},{"id":"611b7259.77501c","type":"mqtt in","z":"1d796710.8a18b9","name":"humidityReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/humidityRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":140,"y":100,"wires":[["fbf92591.9899a8","691efb5a.943434","61cbe116.1413b"]]},{"id":"691efb5a.943434","type":"ui_chart","z":"1d796710.8a18b9","name":" Umiditate sufragerie chart","group":"b81c449c.9497b8","order":2,"width":0,"height":0,"label":"Umiditate sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":140,"wires":[[]]},{"id":"fbf92591.9899a8","type":"ui_gauge","z":"1d796710.8a18b9","name":"Umiditate sufragerie gauge","group":"b81c449c.9497b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Umiditate sufragerie","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#ff8000","#00ff00","#ca3838"],"seg1":"20","seg2":"60","x":460,"y":100,"wires":[]},{"id":"fe549d36.61d79","type":"mqtt in","z":"1d796710.8a18b9","name":"temperatureReadSufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/temperatureRead","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":200,"wires":[["2bb7ceb1.7e2362"]]},{"id":"b4777177.070c2","type":"ui_gauge","z":"1d796710.8a18b9","name":"Temperatura sufragerie gauge","group":"614dc8e8.388628","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura sufragerie","label":"units","format":"{{value}}","min":0,"max":"36","colors":["#0080ff","#00ff00","#ff8080"],"seg1":"19","seg2":"27","x":810,"y":200,"wires":[]},{"id":"1a8b2907.9fd777","type":"ui_chart","z":"1d796710.8a18b9","name":"Temperatura sufragerie chart","group":"614dc8e8.388628","order":4,"width":0,"height":0,"label":"Temperatura sufragerie","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":240,"wires":[[]]},{"id":"2bb7ceb1.7e2362","type":"function","z":"1d796710.8a18b9","name":"substract 12 from temperature","func":"var temperature = parseFloat(msg.payload);\ntemperature -= 12;\nmsg.payload = temperature.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["b4777177.070c2","1a8b2907.9fd777","2575828c.e3b07e"]]},{"id":"86a159fb.92d598","type":"ui_switch","z":"1d796710.8a18b9","name":"","label":"Aer conditionat sufragerie","tooltip":"","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":900,"wires":[["c965edb1.4912a","a88a9f31.38c44"]]},{"id":"e2bb6ea2.7a3ce","type":"mqtt in","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":170,"y":900,"wires":[["4c5a1e8b.a47"]]},{"id":"4c5a1e8b.a47","type":"function","z":"1d796710.8a18b9","name":"convert string to bool","func":"if (msg.payload.localeCompare(\"true\") === 0)\n{\n    msg.payload = true;\n    return msg;\n} else\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":900,"wires":[["86a159fb.92d598"]]},{"id":"b12b6abb.1c38e8","type":"comment","z":"1d796710.8a18b9","name":"to do monitoring tinel","info":"https://dev.to/krusenas/fast--simple-location-tracking-with-node-red-and-owntracks-195o","x":110,"y":1620,"wires":[]},{"id":"7620286b.a9cf08","type":"mqtt in","z":"1d796710.8a18b9","name":"uptimeSenzorAerConditionat","topic":"homie/3c71bf36a9ca/T19TSRAWV01/sensorUptime","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":160,"y":300,"wires":[["8a845ff8.0aa66"]]},{"id":"fac6faae.3fdf28","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"senzorAerConditionatUptime","label":"Senzor aer conditionat uptime:","format":"{{msg.payload}} days","layout":"row-spread","x":800,"y":300,"wires":[]},{"id":"8a845ff8.0aa66","type":"function","z":"1d796710.8a18b9","name":"convert to hours","func":"var timp = parseFloat(msg.payload);\ntimp = timp / (3600 * 24);\nmsg.payload = timp.toFixed(2).toString();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["fac6faae.3fdf28"]]},{"id":"596ebfc3.18a93","type":"pushbullet","z":"1d796710.8a18b9","config":"ed8a5776.41b2e8","pushtype":"note","title":"Node-RED","chan":"","name":"","x":830,"y":400,"wires":[]},{"id":"4923fa9c.912484","type":"inject","z":"1d796710.8a18b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":400,"wires":[["596ebfc3.18a93"]]},{"id":"1d575024.50558","type":"comment","z":"1d796710.8a18b9","name":"push bullet schetch","info":"","x":110,"y":360,"wires":[]},{"id":"7bfe490a.f08c38","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-on-off","device":"967f7799.cf7278","action":"send","remote":"7","button":"29","fix":1,"RFSweep":"true","x":420,"y":500,"wires":[[]]},{"id":"190f7942.2ecdc7","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"8","button":"36","fix":1,"RFSweep":"true","x":280,"y":1160,"wires":[[]]},{"id":"8967f734.605638","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-volume-down","device":"967f7799.cf7278","action":"send","remote":"7","button":"33","fix":1,"RFSweep":"true","x":450,"y":540,"wires":[[]]},{"id":"a110df6d.8c453","type":"ui_button","z":"1d796710.8a18b9","name":"Volume down","group":"9d6d2ca2.ab788","order":3,"width":0,"height":0,"passthru":false,"label":"Volume down","tooltip":"","color":"","bgcolor":"","icon":"volume_down","payload":"","payloadType":"date","topic":"","x":120,"y":540,"wires":[["8967f734.605638"]]},{"id":"c16d433a.a2799","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-volume-up","device":"967f7799.cf7278","action":"send","remote":"7","button":"32","fix":1,"RFSweep":"true","x":440,"y":580,"wires":[[]]},{"id":"184ea2e6.14c49d","type":"ui_button","z":"1d796710.8a18b9","name":"Volume up","group":"9d6d2ca2.ab788","order":2,"width":0,"height":0,"passthru":false,"label":"Volume up","tooltip":"","color":"","bgcolor":"","icon":"volume_up","payload":"","payloadType":"date","topic":"","x":110,"y":580,"wires":[["c16d433a.a2799"]]},{"id":"379e126b.ba0d3e","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"9d6d2ca2.ab788","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":90,"y":500,"wires":[["7bfe490a.f08c38"]]},{"id":"695b6950.c46c48","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-level","device":"967f7799.cf7278","action":"send","remote":"7","button":"34","fix":1,"RFSweep":"true","x":420,"y":620,"wires":[[]]},{"id":"a32c7e6f.e59a5","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-effect","device":"967f7799.cf7278","action":"send","remote":"7","button":"35","fix":1,"RFSweep":"true","x":420,"y":660,"wires":[[]]},{"id":"dd9a50bd.af3c2","type":"ui_button","z":"1d796710.8a18b9","name":"Level","group":"9d6d2ca2.ab788","order":4,"width":0,"height":0,"passthru":false,"label":"Level","tooltip":"","color":"","bgcolor":"","icon":"speaker","payload":"","payloadType":"date","topic":"","x":90,"y":620,"wires":[["695b6950.c46c48"]]},{"id":"948ca813.5ff2a8","type":"ui_button","z":"1d796710.8a18b9","name":"Effect","group":"9d6d2ca2.ab788","order":5,"width":0,"height":0,"passthru":false,"label":"Effect","tooltip":"","color":"","bgcolor":"","icon":"merge_type","payload":"","payloadType":"date","topic":"","x":90,"y":660,"wires":[["a32c7e6f.e59a5"]]},{"id":"e1ab1073.686b6","type":"comment","z":"1d796710.8a18b9","name":"Logitech audio sistem","info":"","x":120,"y":440,"wires":[]},{"id":"c9022801.a06778","type":"comment","z":"1d796710.8a18b9","name":"Epson beemer","info":"","x":100,"y":1080,"wires":[]},{"id":"a7cb410e.4acdd","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"4563fb7.7276804","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":70,"y":1160,"wires":[["190f7942.2ecdc7"]]},{"id":"9755ecf2.1b853","type":"comment","z":"1d796710.8a18b9","name":"AC Techno","info":"","x":80,"y":800,"wires":[]},{"id":"c965edb1.4912a","type":"switch","z":"1d796710.8a18b9","name":"if payload is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":880,"wires":[["d0d79749.94b7f8","5263d9ad.da2188","908e72fa.819a","632791e6.1ee09"]]},{"id":"a88a9f31.38c44","type":"switch","z":"1d796710.8a18b9","name":"if payload is false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":920,"wires":[["fdf66af4.655008","8294a9dd.a845c8","fe884cc9.3001e"]]},{"id":"c3ed890c.6ac6a8","type":"mqtt out","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1690,"y":1060,"wires":[]},{"id":"d0d79749.94b7f8","type":"mqtt out","z":"1d796710.8a18b9","name":"Status aer conditionat sufragerie","topic":"homie/3c71bf36a9ca/T19TSRAWV01/on/set","qos":"2","retain":"","broker":"2f18f85d.098da8","x":1610,"y":880,"wires":[]},{"id":"b6fc9f85.cd179","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":1560,"y":740,"wires":[["c58e3d09.b1878"]]},{"id":"fdf66af4.655008","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":1460,"y":1000,"wires":[["fd5f02f8.ec0ee"]]},{"id":"fa6a85a1.f7fd78","type":"ui_text","z":"1d796710.8a18b9","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"name":"","label":"Status aer conditionat","format":"{{msg.payload}}","layout":"row-spread","x":2000,"y":900,"wires":[]},{"id":"5263d9ad.da2188","type":"function","z":"1d796710.8a18b9","name":"aer conditionat in curs de pornire","func":"msg.payload=\"AC in curs de pornire! Comanda rf in 10s.\";\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":840,"wires":[["fa6a85a1.f7fd78"]]},{"id":"c58e3d09.b1878","type":"function","z":"1d796710.8a18b9","name":"aer conditionat pornit","func":"msg.payload=\"AC pornit!\";\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":740,"wires":[["fa6a85a1.f7fd78"]]},{"id":"fd5f02f8.ec0ee","type":"function","z":"1d796710.8a18b9","name":"aer conditionat in curs de oprire","func":"msg.payload=\"AC in curs de oprire! Tensiune oprita in 1m.\";\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1000,"wires":[["fa6a85a1.f7fd78"]]},{"id":"1b89113d.ee7aef","type":"function","z":"1d796710.8a18b9","name":"aer conditionat oprit","func":"msg.payload=\"AC oprit!\";\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1120,"wires":[["fa6a85a1.f7fd78"]]},{"id":"908e72fa.819a","type":"stoptimer","z":"1d796710.8a18b9","duration":"10","units":"Second","payloadtype":"bool","payloadval":"false","name":"","x":1310,"y":740,"wires":[["b6fc9f85.cd179"],[]]},{"id":"8294a9dd.a845c8","type":"stoptimer","z":"1d796710.8a18b9","duration":"1","units":"Minute","payloadtype":"bool","payloadval":"false","name":"","x":1460,"y":1180,"wires":[["c3ed890c.6ac6a8","1b89113d.ee7aef"],[]]},{"id":"712d5b36.d8e994","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-logitech-mute","device":"967f7799.cf7278","action":"send","remote":"7","button":"31","fix":1,"RFSweep":"true","x":420,"y":700,"wires":[[]]},{"id":"646e660e.f30568","type":"ui_button","z":"1d796710.8a18b9","name":"Mute","group":"9d6d2ca2.ab788","order":5,"width":0,"height":0,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"volume_off","payload":"","payloadType":"date","topic":"","x":90,"y":700,"wires":[["712d5b36.d8e994"]]},{"id":"632791e6.1ee09","type":"function","z":"1d796710.8a18b9","name":"opreste timer","func":"msg.payload=\"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[["8294a9dd.a845c8"]]},{"id":"fe884cc9.3001e","type":"function","z":"1d796710.8a18b9","name":"opreste timer","func":"msg.payload=\"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1080,"wires":[["908e72fa.819a"]]},{"id":"82190a91.248b78","type":"ui_button","z":"1d796710.8a18b9","name":"On/off","group":"3c5cd02c.cf9ff","order":1,"width":0,"height":0,"passthru":false,"label":"On/off","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"date","topic":"","x":90,"y":980,"wires":[["eee14783.de8ee8"]]},{"id":"eee14783.de8ee8","type":"RM","z":"1d796710.8a18b9","name":"rm-mini-living-epson-on-off","device":"967f7799.cf7278","action":"send","remote":"6","button":"26","fix":1,"RFSweep":"true","x":340,"y":980,"wires":[[]]},{"id":"2575828c.e3b07e","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"temperaturaSufragerie","measurement":"temperatureLivingRoom","precision":"","retentionPolicy":"","x":780,"y":160,"wires":[]},{"id":"61cbe116.1413b","type":"influxdb out","z":"1d796710.8a18b9","influxdb":"cab276d8.d054e8","name":"umiditateSufragerie","measurement":"humidityLivingRoom","precision":"","retentionPolicy":"","x":430,"y":40,"wires":[]},{"id":"d364801c.6b80c","type":"comment","z":"1d796710.8a18b9","name":"RF bridge sonoffRFBrg1","info":"","x":130,"y":1240,"wires":[]},{"id":"4aa301aa.71cae","type":"mqtt in","z":"1d796710.8a18b9","name":"sonoffBrg1-4130","topic":"tele/sonoffRFBrg1/RESULT","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":80,"y":1300,"wires":[["ccf15ea8.dc6d8"]]},{"id":"ccf15ea8.dc6d8","type":"json","z":"1d796710.8a18b9","name":"Data","property":"payload","action":"","pretty":false,"x":480,"y":1320,"wires":[["1679c77e.e4b8b9","72fa7989.e45638","3bcfe5b3.edabea","44b626b3.99e178","5d25eeaa.7f0d8","f0f6867e.2c4be8","95ca1607.263398","74102544.ae603c","81dd0042.6dffd","b438b308.d8757"]]},{"id":"1679c77e.e4b8b9","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F45C0E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F45C0E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1300,"wires":[["964457cd.00c6c8"]]},{"id":"72fa7989.e45638","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor F4576E","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"F4576E","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1360,"wires":[["76ce4913.40a498"]]},{"id":"964457cd.00c6c8","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":990,"y":1300,"wires":[["f24f0a5c.59fae8"]]},{"id":"f24f0a5c.59fae8","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Senzor miscare 1","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":1300,"wires":[]},{"id":"76ce4913.40a498","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":990,"y":1360,"wires":[["88225166.9fdca"]]},{"id":"88225166.9fdca","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Senzor miscare 2","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":1360,"wires":[]},{"id":"7460a73.3ecde58","type":"mqtt in","z":"1d796710.8a18b9","name":"sonoffBrg1-4131","topic":"tele/sonoffRFBrg2/RESULT","qos":"2","datatype":"auto","broker":"2f18f85d.098da8","x":80,"y":1480,"wires":[["ccf15ea8.dc6d8"]]},{"id":"3bcfe5b3.edabea","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F08","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F08","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1520,"wires":[["7d3419da.b2fed8"]]},{"id":"7d3419da.b2fed8","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1520,"wires":[["60ed7a4c.cc5d04"]]},{"id":"60ed7a4c.cc5d04","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 1","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1520,"wires":[]},{"id":"44b626b3.99e178","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F0C","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F0C","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1580,"wires":[["2a80d41e.8cb4dc"]]},{"id":"2a80d41e.8cb4dc","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1580,"wires":[["a2112198.adb72"]]},{"id":"a2112198.adb72","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 2","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1580,"wires":[]},{"id":"5d25eeaa.7f0d8","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F04","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F04","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1640,"wires":[["262661a2.8c25de"]]},{"id":"262661a2.8c25de","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1640,"wires":[["e9de2125.d1492"]]},{"id":"e9de2125.d1492","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 3","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1640,"wires":[]},{"id":"f0f6867e.2c4be8","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F09","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F09","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1700,"wires":[["b2133556.c52a08"]]},{"id":"b2133556.c52a08","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1700,"wires":[["248496cd.9d84da"]]},{"id":"248496cd.9d84da","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 4","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1700,"wires":[]},{"id":"95ca1607.263398","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F02","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F02","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1760,"wires":[["cbe372f5.8f72"]]},{"id":"cbe372f5.8f72","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1760,"wires":[["1de20488.78bc9b"]]},{"id":"1de20488.78bc9b","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 5","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1760,"wires":[]},{"id":"74102544.ae603c","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F05","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F05","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1820,"wires":[["e8baef02.a9395"]]},{"id":"e8baef02.a9395","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1820,"wires":[["499051ab.2c1ab"]]},{"id":"499051ab.2c1ab","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 6","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1820,"wires":[]},{"id":"81dd0042.6dffd","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F01","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F01","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1880,"wires":[["62c91555.a5785c"]]},{"id":"62c91555.a5785c","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1880,"wires":[["52b7e963.f463d8"]]},{"id":"52b7e963.f463d8","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 7","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1880,"wires":[]},{"id":"b438b308.d8757","type":"switch","z":"1d796710.8a18b9","name":"Motion sensor 065F03","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"065F03","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1940,"wires":[["49225c5.35875a4"]]},{"id":"49225c5.35875a4","type":"trigger","z":"1d796710.8a18b9","op1":"true","op2":"false","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":980,"y":1940,"wires":[["560637ce.03ec68"]]},{"id":"560637ce.03ec68","type":"ui_text","z":"1d796710.8a18b9","group":"830f4ae2.c40498","order":2,"width":0,"height":0,"name":"","label":"Telecomanda 1 - buton 8","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1940,"wires":[]}]